{%extends 'art/base.html'%}
{% block content %}
<script
src="https://cdnjs.cloudflare.com/ajax/libs/foundation-datepicker/1.5.0/js/foundation-datepicker.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/foundation-datepicker/1.5.0/css/foundation-datepicker.min.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
<style>
#map {
  height: 400px;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}
</style>
<script>
function getURL(){
  if ($("#article").val() === ""){
    return
  }
  urls = $('textarea#article').val().split('\n');
  addFeed(urls[0])
}
function addFeed(url){
  window.location = "/rss_updater/public.php?op=subscribe_feed_nouser&feed_url=" + url;
}
var addArtistArray = []
var addArtistCsvArray =[]
var removeGalleryArray = []
var galleryMappingSource = []
var galleryMappingDest = []
var removeGalleryMapping = []
var removeArtistArray = []
var removeArtistNameArray = []
var removeArtistAllNameArray = []
var removeArtfactsNameArray = []
var nameGalleryE = []
$(document).ready(function() {
  //ADD GALLERY
  $("#submitGallery").click(function(){
    $("#latGallery").prop('disabled', true);
    $("#lngGallery").prop('disabled', true);
    if(!$("#nameGallery").val()){
      message = "Name Missing";
      $("#messageGallery").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    if(!$("#placeidGallery").val()){
      message = "Place ID Missing";
      $("#messageGallery").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    if(!$("#addressGallery").val()){
      message = "Address Missing";
      $("#messageGallery").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    if(!$("#websiteGallery").val()){
      message = "Website Missing";
      $("#messageGallery").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    if(!$("#latGallery").val()){
      message = "Lat Missing";
      $("#messageGallery").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      $("#latGallery").prop('disabled', false);
      $("#lngGallery").prop('disabled', false);
      return;
    }
    if(!$("#lngGallery").val()){
      message = "Lng Missing";
      $("#messageGallery").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      $("#latGallery").prop('disabled', false);
      $("#lngGallery").prop('disabled', false);
      return;
    }
    console.log("saving gallery...");
    $.ajax({
      url: '/art/add_gallery/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "name": $("#nameGallery").val(),
          "placeid": $("#placeidGallery").val(),
          "address": $("#addressGallery").val(),
          "website": $("#websiteGallery").val(),
          "lat": $("#latGallery").val(),
          "lng": $("#lngGallery").val()
        },
      success: function(data) {
          $("#nameGallery").val('');
          $("#placeidGallery").val('');
          $("#addressGallery").val('');
          $("#websiteGallery").val('');
          $("#latGallery").val('');
          $("#lngGallery").val('');
          console.log(data);
          var message = ""
          if(data === '0'){
            message = "Successfully Added Gallery: " + $("#nameGallery").val();
            $("#messageGallery").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }else if (data === '1'){
            message = "Gallery " + $("#nameGallery").val() + " Already Exists";
            $("#messageGallery").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }else{
            message = "Error Adding Gallery";
            $("#messageGallery").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }
      },
      error: function(data) {
          message = "Error Adding Gallery";
          $("#messageGallery").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
 $("#submitGalleryE").click(function(){
    $("#latGalleryE").prop('disabled', true);
    $("#lngGalleryE").prop('disabled', true);
    if(!$("#nameGalleryE").val()){
      message = "Name Missing";
      $("#messageGalleryE").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    if(!$("#placeidGalleryE").val()){
      message = "Place ID Missing";
      $("#messageGalleryE").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    if(!$("#addressGalleryE").val()){
      message = "Address Missing";
      $("#messageGalleryE").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    if(!$("#websiteGalleryE").val()){
      message = "Website Missing";
      $("#messageGalleryE").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    if(!$("#latGalleryE").val()){
      message = "Lat Missing";
      $("#messageGalleryE").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      $("#latGalleryE").prop('disabled', false);
      $("#lngGalleryE").prop('disabled', false);
      return;
    }
    if(!$("#lngGalleryE").val()){
      message = "Lng Missing";
      $("#messageGalleryE").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      $("#latGalleryE").prop('disabled', false);
      $("#lngGalleryE").prop('disabled', false);
      return;
    }
    console.log("saving gallery...");
    $.ajax({
      url: '/art/update_gallery/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
	  "id":$("#idGalleryE").val(),
          "name": $("#nameGalleryE").val(),
          "placeid": $("#placeidGalleryE").val(),
          "address": $("#addressGalleryE").val(),
          "website": $("#websiteGalleryE").val(),
          "lat": $("#latGalleryE").val(),
          "lng": $("#lngGalleryE").val()
        },
      success: function(data) {
          console.log(data);
          var message = ""
	  data = jQuery.parseJSON( data )
          if(data.status === 0){
            message = "Successfully Updated Gallery: " + $("#nameGalleryE").val();
            $("#messageGalleryE").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }else if (data.status === 1){
            message = "Error: " + data.error;
            $("#messageGalleryE").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }else{
            message = "Error Adding Gallery";
            $("#messageGalleryE").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }
         $("#idGalleryE").val('');
	  $("#nameGalleryE").val('');
          $("#placeidGalleryE").val('');
          $("#addressGalleryE").val('');
          $("#websiteGalleryE").val('');
          $("#latGalleryE").val('');
          $("#lngGalleryE").val('');
      },
      error: function(data) {
          message = "Error Adding Gallery";
          $("#messageGalleryE").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
  //GEOCODE: ADDRESS -> LAT,LNG
  $("#addressGallery").focusout(function() {
      var geocoder = new google.maps.Geocoder();
      var address = $("#addressGallery").val()
      geocoder.geocode({'address': address}, function(results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
          $("#latGallery").val(results[0].geometry.location.lat);
          $("#lngGallery").val(results[0].geometry.location.lng);
        } else {
          message = 'Geocode was not successful for the following reason: ' + status + '<br> Please manually edit lat and lng';
          $("#messageGallery").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          $("#latGallery").prop('disabled', false);
          $("#lngGallery").prop('disabled', false);
        }
      });
  });
  //GEOCODE: ADDRESS -> LAT,LNG
  $("#addressGalleryE").focusout(function() {
      var geocoder = new google.maps.Geocoder();
      var address = $("#addressGalleryE").val()
      geocoder.geocode({'address': address}, function(results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
          $("#latGalleryE").val(results[0].geometry.location.lat);
          $("#lngGalleryE").val(results[0].geometry.location.lng);
        } else {
          message = 'Geocode was not successful for the following reason: ' + status + '<br> Please manually edit lat and lng';
          $("#messageGalleryE").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          $("#latGalleryE").prop('disabled', false);
          $("#lngGalleryE").prop('disabled', false);
        }
      });
  });
  //GALLERY AUTOCOMPLETE
  $("#galleryArtist").on("input", function(){
    if($("#galleryArtist").val().length <= 2){
      return;
    }
    $.ajax({
      url: '/art/search_gallery/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "gallery": $("#galleryArtist").val(),
        },
      success: function(data) {
          //console.log(data);
          var dataList = document.getElementById('galleryArtistDataList');
          var input = document.getElementById('galleryArtist');
          $("#galleryArtistDataList").empty();
          var jsonOptions = JSON.parse(data);
          addArtistArray = addArtistArray.splice(0, addArtistArray.length);
          //addArtistArray.length = 0
          // Loop over the JSON array.
          jsonOptions.forEach(function(item) {
            // Create a new <option> element.
            var option = document.createElement('option');
            // Set the value using the item in the JSON array.
            console.log(item);
            option.value = item[1] + "-" + item[3];
            var temp = [item[0], item[1] + "-" + item[3]];
            addArtistArray.push(temp);
            console.log(addArtistArray);
            // Add the <option> element to the <datalist>.
            dataList.appendChild(option);
          });
          console.log("done");
          console.log(addArtistArray);
      },
      error: function(data) {
          console.log("error");
          message = "Error Finding Gallery: " + $("#galleryArtist").val();
          $("#messageArtist").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
  //ADD ARTIST
  $("#submitArtist").click(function(){
    console.log("saving artist...");
    if(!$("#nameArtist").val()){
      message = "Name Missing";
      $("#messageArtist").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    if(!$("#galleryArtist").val()){
      message = "Gallery Missing";
      $("#messageArtist").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    var arr = $('#galleryArtist').val();
    var id = -1
    console.log(addArtistArray);
    for(var i = 0;i<addArtistArray.length;i++){
      console.log(addArtistArray[i][1]);
      console.log(arr);
      if(addArtistArray[i][1] === arr){
        id = addArtistArray[i][0];
      } 
    }
    console.log(id);
    if(id === -1){
      message = "Please Select a Valid Gallery";
      $("#messageArtist").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    /*var values = $("#nameArtist").val().split(' ').filter(function(v){return v!==''});
    if (values.length <= 1) {
      message = "Artist Name Needs At Least Two Words";
      $("#messageArtist").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }*/

    $.ajax({
      url: '/art/add_artist/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "artist": $("#nameArtist").val(),
          "gallery": id,
        },
      success: function(data) {
          $('#galleryArtist').val('');
          $("#nameArtist").val('');
          console.log(data);
          var message = ""
          if(data === '0'){
            message = "Successfully Added Artist: " + $("#nameArtist").val();
            $("#messageArtist").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }else if (data === '1'){
            message = "Artist " + $("#nameArtist").val() + " Already Exists";
            $("#messageArtist").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }else{
            message = "Error Adding Artist";
            $("#messageArtist").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }
      },
      error: function(data) {
          message = "Error Adding Artist";
          $("#messageArtist").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
  //REMOVE GALLERY AUTOCOMPLETE
  $("#nameGalleryR").on("input", function(){
    if($("#nameGalleryR").val().length <= 2){
      return;
    }
    $.ajax({
      url: '/art/search_gallery/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "gallery": $("#nameGalleryR").val(),
        },
      success: function(data) {
          //console.log(data);
          var dataList = document.getElementById('nameGalleryRDataList');
          var input = document.getElementById('nameGalleryR');
          $("#nameGalleryRDataList").empty();
          var jsonOptions = JSON.parse(data);
          removeGalleryArray = removeGalleryArray.splice(0, removeGalleryArray.length);
          //removeGalleryArray.length = 0
          // Loop over the JSON array.
          jsonOptions.forEach(function(item) {
            // Create a new <option> element.
            var option = document.createElement('option');
            // Set the value using the item in the JSON array.
            console.log(item);
            option.value = item[1] + "-" + item[3];
            var temp = [item[0], item[1] + "-" + item[3]];
            removeGalleryArray.push(temp);
            console.log(removeGalleryArray);
            // Add the <option> element to the <datalist>.
            dataList.appendChild(option);
          });
          console.log("done");
          console.log(removeGalleryArray);
      },
      error: function(data) {
          console.log("error");
          message = "Error Finding Gallery: " + $("#nameGalleryR").val();
          $("#messageGalleryR").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
  //REMOVE GALLERY
  $("#submitGalleryR").click(function(){
    if(!$("#nameGalleryR").val()){
      message = "Name Missing";
      $("#messageGalleryR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    var arr = $('#nameGalleryR').val();
    var id = -1
    console.log(removeGalleryArray);
    for(var i = 0;i<removeGalleryArray.length;i++){
      console.log(removeGalleryArray[i][1]);
      console.log(arr);
      if(removeGalleryArray[i][1] === arr){
        id = removeGalleryArray[i][0];
      } 
    }
    console.log(id);
    if(id === -1){
      message = "Please Select a Valid Gallery";
      $("#messageGalleryR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }

    console.log("removing gallery...");
    force = "0"
    if($('#forceRemoveGallery').is(':checked')){
      force = "1"
    }
    $.ajax({
      url: '/art/remove_gallery/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "gallery": id,
          "force": force
        },
      success: function(data) {
          $('#nameGalleryR').val('');
          console.log(data);
          var message = ""
          if(data === '0'){
            message = "Successfully Removed Gallery: " + $("#nameGalleryR").val();
            $("#messageGalleryR").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }else if(data === '2'){
            message = "Artists Exist in Gallery, Please remove Artists First. ";
            $("#messageGalleryR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }else{
            message = "Error Removing Gallery";
            $("#messageGalleryR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }
      },
      error: function(data) {
          message = "Error Removing Gallery";
          $("#messageGalleryR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
  //REMOVE ARTIST GALLERY AUTOCOMPLETE
  $("#galleryArtistR").on("input", function(){
    if($("#galleryArtistR").val().length <= 2){
      return;
    }
    $.ajax({
      url: '/art/search_gallery/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "gallery": $("#galleryArtistR").val(),
        },
      success: function(data) {
          //console.log(data);
          var dataList = document.getElementById('galleryArtistRDataList');
          var input = document.getElementById('galleryArtistR');
          $("#galleryArtistRDataList").empty();
          var jsonOptions = JSON.parse(data);
          removeArtistArray = removeArtistArray.splice(0, removeArtistArray.length);
          //removeArtistArray.length = 0
          // Loop over the JSON array.
          jsonOptions.forEach(function(item) {
            // Create a new <option> element.
            var option = document.createElement('option');
            // Set the value using the item in the JSON array.
            console.log(item);
            option.value = item[1] + "-" + item[3];
            var temp = [item[0], item[1] + "-" + item[3]];
            removeArtistArray.push(temp);
            console.log(removeArtistArray);
            // Add the <option> element to the <datalist>.
            dataList.appendChild(option);
          });
          console.log("done");
          console.log(removeArtistArray);
      },
      error: function(data) {
          console.log("error");
          message = "Error Finding Gallery: " + $("#galleryArtist").val();
          $("#messageArtistR").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
  //REMOVE ARTIST NAME AUTOCOMPLETE
  $("#nameArtistR").on("input", function(){
    if($("#nameArtistR").val().length <= 2){
      return;
    }
    if(!$("#galleryArtistR").val()){
      message = "Gallery Missing";
      $("#messageArtistR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    var arr = $('#galleryArtistR').val();
    var id = -1
    console.log(removeArtistArray);
    for(var i = 0;i<removeArtistArray.length;i++){
      console.log(removeArtistArray[i][1]);
      console.log(arr);
      if(removeArtistArray[i][1] === arr){
        id = removeArtistArray[i][0];
      } 
    }
    console.log(id);
    if(id === -1){
      message = "Please Select a Valid Gallery";
      $("#messageArtistR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }

    $.ajax({
      url: '/art/search_artist/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "artist": $("#nameArtistR").val(),
          "gallery": id,
        },
      success: function(data) {
          //console.log(data);
          var dataList = document.getElementById('nameArtistRDataList');
          var input = document.getElementById('nameArtistR');
          $("#nameArtistRDataList").empty();
          var jsonOptions = JSON.parse(data);
          removeArtistNameArray = removeArtistNameArray.splice(0,removeArtistNameArray.length);
          //removeArtistNameArray.length = 0
          // Loop over the JSON array.
          jsonOptions.forEach(function(item) {
            // Create a new <option> element.
            var option = document.createElement('option');
            // Set the value using the item in the JSON array.
            console.log(item);
            option.value = item[0];
            var temp = [item[0]];
            removeArtistNameArray.push(temp);
            console.log(removeArtistNameArray);
            // Add the <option> element to the <datalist>.
            dataList.appendChild(option);
          });
          console.log("done");
          console.log(removeArtistNameArray);
      },
      error: function(data) {
          console.log("error");
          message = "Error Finding Artist: " + $("#nameArtistR").val();
          $("#messageArtistR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
  //REMOVE ARTIST
  $("#submitArtistR").click(function(){
    console.log("saving artist...");
    if(!$("#nameArtistR").val()){
      message = "Name Missing";
      $("#messageArtistR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    if(!$("#galleryArtistR").val()){
      message = "Gallery Missing";
      $("#messageArtistR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    var arr = $('#galleryArtistR').val();
    var id = -1
    console.log(removeArtistArray);
    for(var i = 0;i<removeArtistArray.length;i++){
      console.log(removeArtistArray[i][1]);
      console.log(arr);
      if(removeArtistArray[i][1] === arr){
        id = removeArtistArray[i][0];
      } 
    }
    console.log(id);
    if(id === -1){
      message = "Please Select a Valid Gallery";
      $("#messageArtistR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    arr = $('#nameArtistR').val();
    var name = "None"
    console.log(removeArtistNameArray);
    for(var i = 0;i<removeArtistNameArray.length;i++){
      console.log(removeArtistNameArray[i][0]);
      console.log(arr);
      if(removeArtistNameArray[i][0] === arr){
        name = removeArtistNameArray[i][0];
      } 
    }
    console.log(name);
    if(name === "None"){
      message = "Please Select a Valid Name";
      $("#messageArtistR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }

    $.ajax({
      url: '/art/remove_artist/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "artist": $("#nameArtistR").val(),
          "gallery": id,
        },
      success: function(data) {
          $('#galleryArtistR').val('');
          $('#nameArtistR').val('');
          console.log(data);
          var message = ""
          if(data === '0'){
            message = "Successfully Removed Artist: " + $("#nameArtistR").val();
            $("#messageArtistR").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
            removeArtistNameArray.length = 0
          }else{
            message = "Error Removing Artist";
            $("#messageArtistR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }
      },
      error: function(data) {
          message = "Error Removing Artist";
          $("#messageArtistR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });

  //REMOVE ARTFACTS NAME AUTOCOMPLETE
  $("#nameArtfactsR").on("input", function(){
    if($("#nameArtfactsR").val().length <= 2){
      return;
    }

    $.ajax({
      url: '/art/search_artfacts/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "artist": $("#nameArtfactsR").val(),
        },
      success: function(data) {
          //console.log(data);
          var dataList = document.getElementById('nameArtfactsRDataList');
          var input = document.getElementById('nameArtfactsR');
          $("#nameArtfactsRDataList").empty();
          var jsonOptions = JSON.parse(data);
          removeArtfactsNameArray = removeArtfactsNameArray.splice(0,removeArtfactsNameArray.length);
          //removeArtistNameArray.length = 0
          // Loop over the JSON array.
          jsonOptions.forEach(function(item) {
            // Create a new <option> element.
            var option = document.createElement('option');
            // Set the value using the item in the JSON array.
            console.log(item);
            option.value = item[0];
            var temp = [item[0]];
            removeArtfactsNameArray.push(temp);
            console.log(removeArtfactsNameArray);
            // Add the <option> element to the <datalist>.
            dataList.appendChild(option);
          });
          console.log("done");
          console.log(removeArtfactsNameArray);
      },
      error: function(data) {
          console.log("error");
          message = "Error Finding Artist: " + $("#nameArtfactsR").val();
          $("#messageArtfactsR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
  //REMOVE ARTFACTS
  $("#submitArtfactsR").click(function(){
    console.log("saving artist...");
    if(!$("#nameArtfactsR").val()){
      message = "Name Missing";
      $("#messageArtfactsR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    arr = $('#nameArtfactsR').val();
    var name = "None"
    console.log(removeArtfactsNameArray);
    for(var i = 0;i<removeArtfactsNameArray.length;i++){
      console.log(removeArtfactsNameArray[i][0]);
      console.log(arr);
      if(removeArtfactsNameArray[i][0] === arr){
        name = removeArtfactsNameArray[i][0];
      } 
    }
    console.log(name);
    if(name === "None"){
      message = "Please Select a Valid Name";
      $("#messageArtfactsR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }

    $.ajax({
      url: '/art/remove_artfacts/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "artist": $("#nameArtfactsR").val(),
        },
      success: function(data) {
          console.log(data);
          var message = ""
          if(data === '0'){
            message = "Successfully Removed Artist: " + $("#nameArtfactsR").val();
            $("#messageArtfactsR").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
            removeArtfactsNameArray.length = 0
          }else{
            message = "Error Removing Artist";
            $("#messageArtfactsR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }
          $('#nameArtfactsR').val('');
      },
      error: function(data) {
          message = "Error Removing Artist";
          $("#messageArtfactsR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });

  //REMOVE ARTIST ALL GALLERY NAME AUTOCOMPLETE
  $("#nameArtistAllR").on("input", function(){
    if($("#nameArtistAllR").val().length <= 2){
      return;
    }

    $.ajax({
      url: '/art/search_artist_all/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "artist": $("#nameArtistAllR").val(),
        },
      success: function(data) {
          //console.log(data);
          var dataList = document.getElementById('nameArtistAllRDataList');
          var input = document.getElementById('nameArtistAllR');
          $("#nameArtistAllRDataList").empty();
          var jsonOptions = JSON.parse(data);
          removeArtistAllNameArray = removeArtistAllNameArray.splice(0,removeArtistAllNameArray.length);
          //removeArtistNameArray.length = 0
          // Loop over the JSON array.
          jsonOptions.forEach(function(item) {
            // Create a new <option> element.
            var option = document.createElement('option');
            // Set the value using the item in the JSON array.
            console.log(item);
            option.value = item[0];
            var temp = [item[0]];
            removeArtistAllNameArray.push(temp);
            console.log(removeArtistAllNameArray);
            // Add the <option> element to the <datalist>.
            dataList.appendChild(option);
          });
          console.log("done");
          console.log(removeArtistAllNameArray);
      },
      error: function(data) {
          console.log("error");
          message = "Error Finding Artist: " + $("#nameArtistAllR").val();
          $("#messageArtistAllR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });

  //REMOVE ARTIST ALL GALLERY
  $("#submitArtistAllR").click(function(){
    console.log("saving artist...");
    if(!$("#nameArtistAllR").val()){
      message = "Name Missing";
      $("#messageArtistAllR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    arr = $('#nameArtistAllR').val();
    var name = "None"
    console.log(removeArtistAllNameArray);
    for(var i = 0;i<removeArtistAllNameArray.length;i++){
      console.log(removeArtistAllNameArray[i][0]);
      console.log(arr);
      if(removeArtistAllNameArray[i][0] === arr){
        name = removeArtistAllNameArray[i][0];
      } 
    }
    console.log(name);
    if(name === "None"){
      message = "Please Select a Valid Name";
      $("#messageArtistAllR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }

    $.ajax({
      url: '/art/remove_artist_all/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "artist": $("#nameArtistAllR").val(),
        },
      success: function(data) {
          console.log(data);
          var message = ""
          if(data === '0'){
            message = "Successfully Removed Artist: " + $("#nameArtistAllR").val();
            $("#messageArtistAllR").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
            removeArtistAllNameArray.length = 0
          }else{
            message = "Error Removing Artist";
            $("#messageArtistAllR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }
          $('#nameArtistAllR').val('');
      },
      error: function(data) {
          message = "Error Removing Artist";
          $("#messageArtistAllR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
  //Mapping Source GALLERY AUTOCOMPLETE
  $("#galleryMappingSource").on("input", function(){
    if($("#galleryMappingSource").val().length <= 2){
      return;
    }
    $.ajax({
      url: '/art/search_gallery/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "gallery": $("#galleryMappingSource").val(),
        },
      success: function(data) {
          //console.log(data);
          var dataList = document.getElementById('galleryMappingSourceDataList');
          var input = document.getElementById('galleryMappingSource');
          $("#galleryMappingSourceDataList").empty();
          var jsonOptions = JSON.parse(data);
          galleryMappingSource = galleryMappingSource.splice(0,galleryMappingSource.length);
          //galleryMappingSource.length = 0
          // Loop over the JSON array.
          jsonOptions.forEach(function(item) {
            // Create a new <option> element.
            var option = document.createElement('option');
            // Set the value using the item in the JSON array.
            console.log(item);
            option.value = item[1] + "-" + item[3];
            var temp = [item[0], item[1] + "-" + item[3]];
            galleryMappingSource.push(temp);
            console.log(galleryMappingSource);
            // Add the <option> element to the <datalist>.
            dataList.appendChild(option);
          });
          console.log("done");
          console.log(galleryMappingSource);
      },
      error: function(data) {
          console.log("error");
          message = "Error Finding Gallery: " + $("#galleryMappingSource").val();
          $("#messageMapping").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
  var nameGalleryE2 = []
    //Edit GALLERY AUTOCOMPLETE
  $("#nameGalleryE").on("input", function(){
    if($("#nameGalleryE").val().length <= 2){
      return;
    }
    var userText = $(this).val();

    $("#nameGalleryEDataList").find("option").each(function() {
      if ($(this).val() == userText) {
        var arr = $('#nameGalleryE').val();
        var id = -1
        console.log(nameGalleryE);
        for(var i = 0;i<nameGalleryE.length;i++){
          console.log(nameGalleryE[i][1]);
          console.log(arr);
          if(nameGalleryE[i][1] === arr){
            id = nameGalleryE[i][0];
		for(var j = 0;j < nameGalleryE2.length; j++){
			console.log(nameGalleryE2[j][0] + " " + arr);
			if(nameGalleryE2[j][0] === id){
				$("#idGalleryE").val(nameGalleryE2[j][0]);
				$("#nameGalleryE").val(nameGalleryE2[j][1]);
				$("#idGalleryE").prop("enabled", false);
				$("#placeidGalleryE").val(nameGalleryE2[j][2]);
				$("#addressGalleryE").val(nameGalleryE2[j][3]);
				$("#websiteGalleryE").val(nameGalleryE2[j][4]);
				$("#latGalleryE").val(nameGalleryE2[j][5]);
				$("#lngGalleryE").val(nameGalleryE2[j][6]);
			}
		}
          } 
        }
        console.log(id);
        if(id === -1){
          message = "Please Select a Valid Gallery";
          $("#messageArtistR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          return;
        }
       //$("#placeidGalleryE").val();
        //alert("Make Ajax call here.");
      }
    })
    $.ajax({
      url: '/art/search_gallery/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "gallery": $("#nameGalleryE").val(),
        },
      success: function(data) {
          //console.log(data);
          var dataList = document.getElementById('nameGalleryEDataList');
          var input = document.getElementById('nameGalleryE');
          $("#nameGalleryEDataList").empty();
          var jsonOptions = JSON.parse(data);
          nameGalleryE = nameGalleryE.splice(0,nameGalleryE.length);
          //galleryMappingDest.length = 0
          // Loop over the JSON array.
          jsonOptions.forEach(function(item) {
            // Create a new <option> element.
            var option = document.createElement('option');
            // Set the value using the item in the JSON array.
            console.log(item);
            option.value = item[1] + "-" + item[3];
            var temp = [item[0], item[1] + "-" + item[3]];
            nameGalleryE.push(temp);
            var temp2 = [item[0], item[1], item[2], item[3], item[4], item[5], item[6]];
            nameGalleryE2.push(temp2);
	    console.log("nameGalleryE2");
            console.log(nameGalleryE2);
		
            // Add the <option> element to the <datalist>.
            dataList.appendChild(option);
          });
          console.log("done");
          console.log(nameGalleryE);
      },
      error: function(data) {
          console.log("error");
          message = "Error Finding Gallery: " + $("#nameGalleryE").val();
          $("#messageGalleryE").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
    //Mapping Dest GALLERY AUTOCOMPLETE
  $("#galleryMappingDest").on("input", function(){
    if($("#galleryMappingDest").val().length <= 2){
      return;
    }
    $.ajax({
      url: '/art/search_gallery/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "gallery": $("#galleryMappingDest").val(),
        },
      success: function(data) {
          //console.log(data);
          var dataList = document.getElementById('galleryMappingDestDataList');
          var input = document.getElementById('galleryMappingDest');
          $("#galleryMappingDestDataList").empty();
          var jsonOptions = JSON.parse(data);
          galleryMappingDest = galleryMappingDest.splice(0,galleryMappingDest.length);
          //galleryMappingDest.length = 0
          // Loop over the JSON array.
          jsonOptions.forEach(function(item) {
            // Create a new <option> element.
            var option = document.createElement('option');
            // Set the value using the item in the JSON array.
            console.log(item);
            option.value = item[1] + "-" + item[3];
            var temp = [item[0], item[1] + "-" + item[3]];
            galleryMappingDest.push(temp);
            console.log(galleryMappingDest);
            // Add the <option> element to the <datalist>.
            dataList.appendChild(option);
          });
          console.log("done");
          console.log(galleryMappingDest);
      },
      error: function(data) {
          console.log("error");
          message = "Error Finding Gallery: " + $("#galleryMappingDest").val();
          $("#messageMapping").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
  //REMOVE ARTIST
  $("#submitMapping").click(function(){
    console.log("saving mapping...");
    if(!$("#galleryMappingSource").val()){
      message = "Source Gallery Missing";
      $("#messageMapping").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    if(!$("#galleryMappingDest").val()){
      message = "Dest Gallery Missing";
      $("#messageMapping").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    var arr = $('#galleryMappingSource').val();
    var id = -1
    for(var i = 0;i<galleryMappingSource.length;i++){
      console.log(galleryMappingSource[i][1]);
      console.log(arr);
      if(galleryMappingSource[i][1] === arr){
        id = galleryMappingSource[i][0];
      } 
    }
    console.log(id);
    if(id === -1){
      message = "Please Select a Valid Source Gallery";
      $("#messageMapping").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    var arr = $('#galleryMappingDest').val();
    var id1 = -1
    for(var i = 0;i<galleryMappingDest.length;i++){
      console.log(galleryMappingDest[i][1]);
      console.log(arr);
      if(galleryMappingDest[i][1] === arr){
        id1 = galleryMappingDest[i][0];
      } 
    }
    console.log(id1);
    if(id1 === -1){
      message = "Please Select a Valid Dest Gallery";
      $("#messageMapping").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    $.ajax({
      url: '/art/add_mapping/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "source_gallery": id,
          "dest_gallery": id1,
        },
      success: function(data) {
          console.log(data)
          var message = ""
          if(data === '0'){
            message = "Successfully Added Mapping: " + $("#galleryMappingSource").val() + " -> " + $("#galleryMappingDest").val();
            $("#messageMapping").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }else if (data === "1"){
            message = "Mapping Already Exists";
            $("#messageMapping").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }else{
            message = "Error Adding Mapping";
            $("#messageMapping").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }
          $('#galleryMappingSource').val('');
          $('#galleryMappingDest').val('');
      },
      error: function(data) {
          message = "Error Adding Mapping";
          $("#messageMapping").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
    //REMOVE MAPPING GALLERY AUTOCOMPLETE
  $("#galleryMappingR").on("input", function(){
    if($("#galleryMappingR").val().length <= 2){
      return;
    }
    $.ajax({
      url: '/art/search_gallery/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "gallery": $("#galleryMappingR").val(),
        },
      success: function(data) {
          //console.log(data);
          var dataList = document.getElementById('galleryMappingRDataList');
          var input = document.getElementById('galleryMappingR');
          $("#galleryMappingRDataList").empty();
          var jsonOptions = JSON.parse(data);
          removeGalleryMapping = removeGalleryMapping.splice(0,removeGalleryMapping.length);
          //removeGalleryMapping.length = 0
          // Loop over the JSON array.
          jsonOptions.forEach(function(item) {
            // Create a new <option> element.
            var option = document.createElement('option');
            // Set the value using the item in the JSON array.
            console.log(item);
            option.value = item[1] + "-" + item[3];
            var temp = [item[0], item[1] + "-" + item[3]];
            removeGalleryMapping.push(temp);
            console.log(removeGalleryMapping);
            // Add the <option> element to the <datalist>.
            dataList.appendChild(option);
          });
          console.log("done");
          console.log(removeGalleryMapping);
      },
      error: function(data) {
          console.log("error");
          message = "Error Finding Gallery: " + $("#removeGalleryMapping").val();
          $("#messageMappingR").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
  //REMOVE ARTIST
  $("#submitMappingR").click(function(){
    console.log("saving mapping...");
    if(!$("#galleryMappingR").val()){
      message = "Gallery Missing";
      $("#messageMappingR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    var arr = $('#galleryMappingR').val();
    var id = -1
    for(var i = 0;i<removeGalleryMapping.length;i++){
      console.log(removeGalleryMapping[i][1]);
      console.log(arr);
      if(removeGalleryMapping[i][1] === arr){
        id = removeGalleryMapping[i][0];
      } 
    }
    console.log(id);
    if(id === -1){
      message = "Please Select a Valid Gallery";
      $("#messageMappingR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    $.ajax({
      url: '/art/remove_mapping/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "gallery": id,
        },
      success: function(data) {
          console.log(data)
          var message = ""
          if(data === '0'){
            message = "Successfully Removed Mapping: " +  $("#galleryMappingR").val();
            $("#messageMappingR").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }else if (data === "1"){
            message = "No Mapping Exists";
            $("#messageMappingR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }else{
            message = "Error Removing Mapping";
            $("#messageMappingR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }
          $('#galleryMappingR').val('');
      },
      error: function(data) {
          message = "Error Adding Mapping";
          $("#messageMappingR").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });

  //DATETIME PICKER SETUP
  $('#dateArticle').fdatepicker({
    initialDate: '02-12-1989',
    format: 'yyyy-mm-dd',
    disableDblClickSelection: true
  });

  //ARTIST CSV FILE UPLOAD
  $("#addArtistCsvForm").submit(function(e){
    if($("#csvArtistCsv").val() == "") {
      console.log("missing");
      message = "File Missing";
      $("#messageArtistCsv").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return false;
    }
    if(!$("#galleryArtistCsv").val()){
      message = "Gallery Missing";
      $("#messageArtistCsv").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return false;
    }
    var arr = $('#galleryArtistCsv').val();
    var id = -1
    console.log(addArtistCsvArray);
    for(var i = 0;i<addArtistCsvArray.length;i++){
      console.log(addArtistCsvArray[i][1]);
      console.log(arr);
      if(addArtistCsvArray[i][1] === arr){
        id = addArtistCsvArray[i][0];
      } 
    }
    console.log(id);
    if(id === -1){
      message = "Please Select a Valid Gallery";
      $("#messageArtistCsv").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return false;
    }
    $('<input />').attr('type', 'hidden')
          .attr('name', "gallery")
          .attr('value', id)
          .appendTo('#addArtistCsvForm');
    $('<input />').attr('type', 'hidden')
          .attr('name', "gallery_name")
          .attr('value', $("#galleryArtistCsv").val())
          .appendTo('#addArtistCsvForm');
  });
  $(window).bind("pageshow", function() {
    var form = $('form'); 
    // let the browser natively reset defaults
    form[0].reset();
  });
  //ADD ARTIST CSV AUTOCOMPLETE
  $("#galleryArtistCsv").on("input", function(){
    if($("#galleryArtistCsv").val().length <= 2){
      return;
    }
    $.ajax({
      url: '/art/search_gallery/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "gallery": $("#galleryArtistCsv").val(),
        },
      success: function(data) {
          //console.log(data);
          var dataList = document.getElementById('galleryArtistCsvDataList');
          var input = document.getElementById('galleryArtistCsv');
          $("#galleryArtistCsvDataList").empty();
          var jsonOptions = JSON.parse(data);
          addArtistCsvArray = addArtistCsvArray.splice(0, addArtistCsvArray.length);
          //addArtistCsvArray.length = 0
          // Loop over the JSON array.
          jsonOptions.forEach(function(item) {
            // Create a new <option> element.
            var option = document.createElement('option');
            // Set the value using the item in the JSON array.
            console.log(item);
            option.value = item[1] + "-" + item[3];
            var temp = [item[0], item[1] + "-" + item[3]];
            addArtistCsvArray.push(temp);
            console.log(addArtistCsvArray);
            // Add the <option> element to the <datalist>.
            dataList.appendChild(option);
          });
          console.log("done");
          console.log(addArtistCsvArray);
      },
      error: function(data) {
          console.log("error");
          message = "Error Finding Gallery: " + $("#galleryArtistCsv").val();
          $("#messageArtistCsv").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
  //GET ARTIST FROM WEBSITE
  $("#artistWebsite").focusout(function() {
    if($("#artistWebsite").val().length <= 2){
      message = "Please enter valid link " + $("#artistWebsite").val();
      $("#messageWebsite").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    $.ajax({
      url: '/art/get_artist_from_website/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "link": $("#artistWebsite").val(),
        },
      success: function(data) {
          console.log(data);
          var json_data = JSON.parse(data);
          if (json_data.status == 0){
            message = json_data.message;
            $("#messageWebsite").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }else{
            message = json_data.message;
            $("#messageWebsite").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');

          }
      },
      error: function(data) {
          console.log("error");
          message = "Error retrieving article for link: " + $("#artistWebsite").val();
          $("#messageWebsite").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
  //SCRAPE: LINK -> TITLE, ARTICLE
  $("#linkArticle").focusout(function() {
    if($("#linkArticle").val().length <= 2){
      message = "Please enter valid link " + $("#linkArticle").val();
      $("#messageArticle").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    $.ajax({
      url: '/art/get_article/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "link": $("#linkArticle").val(),
        },
      success: function(data) {
          console.log(data);
          var json_data = JSON.parse(data);
          if (json_data.status == 0){
            message = json_data.message;
            $("#messageArticle").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
            $("#titleArticle").val(json_data.title);
            $("#articleArticle").val(json_data.article);
          }else{
            message = json_data.message;
            $("#messageArticle").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');

          }
      },
      error: function(data) {
          console.log("error");
          message = "Error retrieving article for link: " + $("#linkArticle").val();
          $("#messageArticle").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
  //DISPLAY RECENT ARTICLES
  $('#articleAccordian').click(function(){
    $.ajax({
      url: '/art/get_recent_articles/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      success: function(data) {
          console.log(data);
          var message = ""
          var json_data = JSON.parse(data);
          for(var i = 0; i < json_data.length; i++){
            var d = new Date(json_data[i][2]*1000);
            var date = (d.getMonth()+1) + '/' + d.getDate() + '/' + d.getFullYear()
            $('#recentArticles').append("<p>" + date + " - <a href=\"" + json_data[i][0] + "\">" + json_data[i][1] + "</a></p>");
          }
      },
      error: function(data) {
          message = "Error Retrieving Articles";
          $("#messageArticle").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });
  //ADD ARTICLE
  $("#submitArticle").click(function(){
    console.log("saving article...");
    if(!$("#linkArticle").val()){
      message = "Link Missing";
      $("#messageArticle").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    if(!$("#dateArticle").val()){
      message = "Date Missing";
      $("#messageArticle").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    if(!$("#titleArticle").val()){
      message = "Title Missing";
      $("#messageArticle").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    if(!$("#articleArticle").val()){
      message = "Article Missing";
      $("#messageArticle").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    if(!$("#dateArticle").val().match(/[0-9]{4}-[0-9]{2}-[0-9]{2}/)){
      message = "Invalid Date Format. <br>Please format like YYYY-MM-DD.";
      $("#messageArticle").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    $.ajax({
      url: '/art/add_article/',
      type: 'post', //this is the default though, you don't actually need to always mention it
      data:{
          "link": $("#linkArticle").val(),
          "date": $("#dateArticle").val(),
          "title":$("#titleArticle").val(),
          "article":$("#articleArticle").val()
        },
      success: function(data) {
          console.log(data);
          var message = ""
          if(data === '0'){
            message = "Successfully Added Article: " + $("#linkArticle").val();
            $("#messageArticle").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }else if (data === '1'){
            message = "Article " + $("#linkArticle").val() + " Already Exists";
            $("#messageArticle").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }else{
            message = "Error Adding Article";
            $("#messageArticle").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }
      },
      error: function(data) {
          message = "Error Adding Article";
          $("#messageArticle").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });

//ADD ARTICLE
  $("#submitcheckArticle").click(function(){
    console.log("saving article...");
    if(!$("#linkcheckArticle").val()){
      message = "Link Missing";
      $("#messagecheckArticle").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      return;
    }
    $.ajax({
      url: '/art/check_article/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "link": $("#linkcheckArticle").val(),
        },
      success: function(data) {
          console.log(data);
          var message = ""
          if(data !== '[]'){
            message = $("#linkcheckArticle").val()  + " Present";
            var json_data = JSON.parse(data);
            console.log(json_data);
            $("#datecheckArticle").val(new Date(json_data[0][3]*1000));
            $("#titlecheckArticle").val(json_data[0][1]);
            $("#articlecheckArticle").val(json_data[0][2]);

            $("#messagecheckArticle").html('<div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }else{
            message = "Article link not there";
            $("#messagecheckArticle").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
          }
      },
      error: function(data) {
          message = "Error checking link";
            $("#messagecheckArticle").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
      }
    });
  });

});

// This example adds a search box to a map, using the Google Place Autocomplete
// feature. People can enter geographical searches. The search box will return a
// pick list containing a mix of places and predicted search terms.

// This example requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

function initAutocomplete() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -33.8688, lng: 151.2195},
    zoom: 13,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  // Create the search box and link it to the UI element.
  var input = document.getElementById('pac-input');
  var searchBox = new google.maps.places.SearchBox(input);
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  // Bias the SearchBox results towards current map's viewport.
  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });

  var markers = [];
  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  searchBox.addListener('places_changed', function() {
    var places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }

    // Clear out the old markers.
    markers.forEach(function(marker) {
      marker.setMap(null);
    });
    markers = [];

    // For each place, get the icon, name and location.
    var bounds = new google.maps.LatLngBounds();
    places.forEach(function(place) {
      $("#nameGallery").val(place.name);
      $("#placeidGallery").val(place.place_id);
      $("#addressGallery").val(place.formatted_address);
      $("#websiteGallery").val(place.website);
      $("#latGallery").val(place.geometry.location.lat);
      $("#lngGallery").val(place.geometry.location.lng);
    
      var icon = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25)
      };

      // Create a marker for each place.
      markers.push(new google.maps.Marker({
        map: map,
        icon: icon,
        title: place.name,
        position: place.geometry.location
      }));

      if (place.geometry.viewport) {
        // Only geocodes have viewport.
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    map.fitBounds(bounds);
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPfugPVQjJ40XVL_m3s7V-rMOQ1HpHZCw&libraries=places&callback=initAutocomplete"
         async defer></script>

<!--
<ul class="accordion" data-accordion data-allow-all-closed="true">
  <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Accordion 1</a>
      <div class="accordion-content" data-tab-content>
        I would start in the open state, due to using the `is-active` state class.
      </div>
    </li>
</ul>
-->
<div class="row" style="margin-top:50px;">
  <div class="small-12 columns">
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      {% load humanize %}
      {% load staticfiles %}
      <!--ADD FEED-->
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Add Feed...</h4></a>
        <div class="accordion-content" data-tab-content>
          <div class="row">
            <div class="small-12 columns">
                <label>
                  <textarea id="article" placeholder="URL..." rows="1"></textarea>
                </label>
                <br>
                <a href="#" class="button success" style="text-align:center" onclick="getURL()">Submit</a>
            </div>
          </div>
        </div>
      </li>
      <!--ADD GALLERY-->
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Add Gallery...</h4></a>
        <div class="accordion-content" data-tab-content>
          <div class="row">
            <div class="small-6 columns">
              <input id="pac-input" class="controls" type="text" placeholder="Search Box">
              <div id="map"></div>
            </div>
            <div class="small-6 columns">
              <div id="messageGallery"></div>
              <label>Name
                  <input id="nameGallery" type="text" placeholder="Name of Gallery" autocomplete="off">
              </label>
              <label>Place ID
                  <input id="placeidGallery" type="text" placeholder="Place ID" autocomplete="off">
              </label>
              <label>Address
                  <input id="addressGallery" type="text" placeholder="Address" autocomplete="off">
              </label>
              <label>Website
                  <input id="websiteGallery" type="text" placeholder="Website" autocomplete="off">
              </label>
              <div class="row">
                <div class="small-6 columns">
                  <label>Lat
                      <input id="latGallery" type="text" placeholder="Lat" disabled autocomplete="off">
                  </label>
                </div>
                <div class="small-6 columns">
                  <label>Lng
                      <input id="lngGallery" type="text" placeholder="Lng" disabled autocomplete="off">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="small-4 small-offset-4 columns">
                  <button id="submitGallery" type="button" class="success expanded button">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!--EDIT GALLERY-->
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Edit Gallery...</h4></a>
        <div class="accordion-content" data-tab-content>
          <div class="row">
            <div class="small-6 columns">
              <div id="messageGalleryE"></div>
              <label hidden>ID
                  <input id="idGalleryE" type="text" placeholder="ID" disabled autocomplete="off">
              </label>
              <label>Name
                  <input id="nameGalleryE" list="nameGalleryEDataList" type="text" placeholder="Name of Gallery" autocomplete="off">
                  <datalist id="nameGalleryEDataList"></datalist>
              </label>
              <label>Place ID
                  <input id="placeidGalleryE" type="text" placeholder="Place ID" autocomplete="off">
              </label>
              <label>Address
                  <input id="addressGalleryE" type="text" placeholder="Address" autocomplete="off">
              </label>
              <label>Website
                  <input id="websiteGalleryE" type="text" placeholder="Website" autocomplete="off">
              </label>
              <div class="row">
                <div class="small-6 columns">
                  <label>Lat
                      <input id="latGalleryE" type="text" placeholder="Lat" disabled autocomplete="off">
                  </label>
                </div>
                <div class="small-6 columns">
                  <label>Lng
                      <input id="lngGalleryE" type="text" placeholder="Lng" disabled autocomplete="off">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="small-4 small-offset-4 columns">
                  <button id="submitGalleryE" type="button" class="success expanded button">Save</button>
                </div>
              </div>
            </div>
            <div class="small-6 columns">
            </div>
          </div>
        </div>
      </li>

      <!--ADD ARTIST-->
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Add Artist...</h4></a>
        <div class="accordion-content" data-tab-content>
          <div class="row">
            <div class="small-8 columns">
              <div id="messageArtist"></div>
              <label>Name
                  <input id="nameArtist" type="text" placeholder="Name of Artist">
              </label>
              <label>Gallery of Artist
                  <input id="galleryArtist" list="galleryArtistDataList" type="text" placeholder="Galleries Artist is Represented" autocomplete="off">
                  <datalist id="galleryArtistDataList"></datalist>
              </label>
              <div class="row">
                <div class="small-4 small-offset-4 columns">
                  <button id="submitArtist" type="button" class="success expanded button">Save</button>
                </div>
              </div>
            </div>
            <div class="small-4 columns">
            </div>
          </div>
        </div>
      </li>
      <!--REMOVE GALLERY-->
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Remove Gallery...</h4></a>
        <div class="accordion-content" data-tab-content>
          <div class="row">
            <div class="small-8 columns">
              <div id="messageGalleryR"></div>
              <label>Name
                  <input id="nameGalleryR" list="nameGalleryRDataList" type="text" placeholder="Name of Gallery" autocomplete="off">
                  <datalist id="nameGalleryRDataList"></datalist>
                  <input id="forceRemoveGallery" type="checkbox"><label for="forceRemoveGallery">Remove Artists</label>
              </label>
              <div class="row">
                <div class="small-4 small-offset-4 columns">
                  <button id="submitGalleryR" type="button" class="success expanded button">Remove</button>
                </div>
              </div>
            </div>
            <div class="small-4 columns">
            </div>
          </div>
        </div>
      </li>
      <!--REMOVE ARTIST-->
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Remove Artist...</h4></a>
        <div class="accordion-content" data-tab-content>
          <div class="row">
            <div class="small-8 columns">
              <div id="messageArtistR"></div>
              <label>Gallery of Artist
                  <input id="galleryArtistR" list="galleryArtistRDataList" type="text" placeholder="Galleries Artist is Represented" autocomplete="off">
                  <datalist id="galleryArtistRDataList"></datalist>
              </label>
              <label>Name
                  <input id="nameArtistR" list="nameArtistRDataList" type="text" placeholder="Name of Artist" autocomplete="off">
                  <datalist id="nameArtistRDataList"></datalist>
              </label>
              <div class="row">
                <div class="small-4 small-offset-4 columns">
                  <button id="submitArtistR" type="button" class="success expanded button">Save</button>
                </div>
              </div>
            </div>
            <div class="small-4 columns">
            </div>
          </div>
        </div>
      </li>
      <!--REMOVE ARTFACTS ARTIST-->
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Remove Artfacts Artist...</h4></a>
        <div class="accordion-content" data-tab-content>
          <div class="row">
            <div class="small-8 columns">
              <div id="messageArtfactsR"></div>
              <label>Name
                  <input id="nameArtfactsR" list="nameArtfactsRDataList" type="text" placeholder="Name of Artist" autocomplete="off">
                  <datalist id="nameArtfactsRDataList"></datalist>
              </label>
              <div class="row">
                <div class="small-4 small-offset-4 columns">
                  <button id="submitArtfactsR" type="button" class="success expanded button">Save</button>
                </div>
              </div>
            </div>
            <div class="small-4 columns">
            </div>
          </div>
        </div>
      </li>
      <!--REMOVE ARTIST ALL GALLERY-->
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Remove Artist From All Galleries...</h4></a>
        <div class="accordion-content" data-tab-content>
          <div class="row">
            <div class="small-8 columns">
              <div id="messageArtistAllR"></div>
              <label>Name
                  <input id="nameArtistAllR" list="nameArtistAllRDataList" type="text" placeholder="Name of Artist" autocomplete="off">
                  <datalist id="nameArtistAllRDataList"></datalist>
              </label>
              <div class="row">
                <div class="small-4 small-offset-4 columns">
                  <button id="submitArtistAllR" type="button" class="success expanded button">Save</button>
                </div>
              </div>
            </div>
            <div class="small-4 columns">
            </div>
          </div>
        </div>
      </li>
      <!--ADD GALLERY MAPPING-->
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Add Gallery Mapping...</h4></a>
        <div class="accordion-content" data-tab-content>
          <div class="row">
            <div class="small-8 columns">
              <div id="messageMapping"></div>
              <label>Gallery to be Mapped (Source)
                  <input id="galleryMappingSource" list="galleryMappingSourceDataList" type="text" placeholder="Galleries Artist is Represented" autocomplete="off">
                  <datalist id="galleryMappingSourceDataList"></datalist>
              </label>
              <label>Gallery to Map to (Destination)
                  <input id="galleryMappingDest" list="galleryMappingDestDataList" type="text" placeholder="Galleries Artist is Represented" autocomplete="off">
                  <datalist id="galleryMappingDestDataList"></datalist>
              </label>
              <div class="row">
                <div class="small-4 small-offset-4 columns">
                  <button id="submitMapping" type="button" class="success expanded button">Save</button>
                </div>
              </div>
            </div>
            <div class="small-4 columns">
            </div>
          </div>
        </div>
      </li>
      <!--REMOVE GALLERY MAPPING-->
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Remove Gallery Mapping...</h4></a>
        <div class="accordion-content" data-tab-content>
          <div class="row">
            <div class="small-8 columns">
              <div id="messageMappingR"></div>
              <label>Gallery to Remove Map
                  <input id="galleryMappingR" list="galleryMappingRDataList" type="text" placeholder="Galleries Artist is Represented" autocomplete="off">
                  <datalist id="galleryMappingRDataList"></datalist>
              </label>
              <div class="row">
                <div class="small-4 small-offset-4 columns">
                  <button id="submitMappingR" type="button" class="success expanded button">Save</button>
                </div>
              </div>
            </div>
            <div class="small-4 columns">
            </div>
          </div>
        </div>
      </li>
      <!--ADD ARTIST FROM WEBSITE-->
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Add Artist From Website...</h4></a>
        <div class="accordion-content" data-tab-content>
          <div class="row">
            <div class="small-8 columns">
              <div id="messageWebsite"></div>
              <label>Website to Scrape for Artists
                  <input id="artistWebsite" type="text" placeholder="Galleries Website Artists are Represented" autocomplete="off">
              </label>
              <label>Gallery to Add Artists To
                  <input id="galleryWebsite" list="galleryWebsiteDataList" type="text" placeholder="Galleries Artists are Represented" autocomplete="off">
                  <datalist id="galleryWebsiteDataList"></datalist>
              </label>
              <div class="row">
                <div class="small-4 small-offset-4 columns">
                  <button id="submitWebsite" type="button" class="success expanded button">Save</button>
                </div>
              </div>
            </div>
            <div class="small-4 columns">
            </div>
          </div>
        </div>
      </li>
      <!--ADD ARTIST CSV-->
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Add Artist Csv...</h4></a>
        <div class="accordion-content" data-tab-content>
          <div class="row">
            <div class="small-8 columns">
              <div id="messageArtistCsv"></div>
                <form id="addArtistCsvForm" action="{% url "art:upload_artist_csv" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>{{ form.non_field_errors }}</p>

                    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

                    <p>
                        {{ form.docfile.errors }}
                        {{ form.docfile }}
                    </p>
                    <label>Upload File...
                      <input id="csvArtistCsv" type="file" name="csvArtistCsv"/>
                    </label>
                    <label>Gallery of Artists

                        <input id="galleryArtistCsv" list="galleryArtistCsvDataList" type="text" placeholder="Galleries Artists are Represented" autocomplete="off">
                        <datalist id="galleryArtistCsvDataList"></datalist>
                    </label>
                    <div class="row">
                      <div class="small-4 small-offset-4 columns">
                        <button id="submitArtistCsv" type="submit" class="success expanded button">Upload</button>
                      </div>
                    </div>
                </form>
            </div>
            <div class="small-4 columns">
            </div>
          </div>
        </div>
      </li>
      <!--ADD ARTICLE-->
      <li id="articleAccordian" class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Add Article...</h4></a>
        <div class="accordion-content" data-tab-content>
          <div class="row">
            <div class="small-6 columns">
              <div id="messageArticle"></div>
              <label>Link
                  <input id="linkArticle" type="text" placeholder="Link of Article" autocomplete="off">
              </label>
              <label>Date
                  <input id="dateArticle" data-date-format="yyyy-mm-dd" type="text" placeholder="Date of Article" autocomplete="off">
              </label>
              <label>Title
                  <input id="titleArticle" type="text" placeholder="Title of Article" autocomplete="off">
              </label>
              <label>Article
                <textarea id="articleArticle" placeholder="Text of Article" rows="5" autocomplete="off"></textarea>
              </label>
              <br>
              <div class="row">
                <div class="small-4 small-offset-4 columns">
                  <button id="submitArticle" type="button" class="success expanded button">Save</button>
                </div>
              </div>
            </div>
            <div class="small-6 columns">
              <h3 style="text-align:center;margin-bottom:10px;"> Recent Articles </h3>
              <div id="recentArticles" style="height:400px;overflow:auto;white-space:nowrap;">

              </div>
            </div>
          </div>
        </div>
      </li>
      <!--CHECK ARTICLE-->
      <li id="checkArticleAccordian" class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Check Link...</h4></a>
        <div class="accordion-content" data-tab-content>
          <div class="row">
            <div class="small-8 columns">
              <div id="messagecheckArticle"></div>
              <label>Link
                  <input id="linkcheckArticle" type="text" placeholder="Link of Article" >
              </label>
              <div class="row">
                <div class="small-4 small-offset-4 columns">
                  <button id="submitcheckArticle" type="button" class="success expanded button">Check</button>
                </div>
              </div>
              <label>Date
                  <input id="datecheckArticle" data-date-format="yyyy-mm-dd" type="text" placeholder="Date of Article" autocomplete="off">
              </label>
              <label>Title
                  <input id="titlecheckArticle" type="text" placeholder="Title of Article" autocomplete="off">
              </label>
              <label>Article
                <textarea id="articlecheckArticle" placeholder="Text of Article" rows="5" autocomplete="off"></textarea>
              </label>
              <br>
            </div>
          </div>
        </div>
      </li>

      <!--STATUS-->
      <li id="statusAccordian" class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Status...</h4></a>
        <div class="accordion-content" data-tab-content>
          <div class="row">
            <div class="small-6 small-offset-2 columns">
              <div class="row">
                  {% for up in updated_score %}
                      <h5>Last Artist Score Update: {{up.updated}}</h5>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </li>



    </ul>
  </div>
</div>
{% endblock %}
