{%extends 'art/base.html'%}
{% block content %}
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<div id="page" class="row" style="font-family: 'Open Sans';">
    <div class="pi-section-w pi-section-white piGooglePrettify">
      <div class="pi-section">
          <h1 class="pi-margin-bottom-35">Docs - Changelog</h1>
          <h4 class="pi-uppercase pi-weight-700 pi-letter-spacing">Planned Features:</h4>
          <ul class="pi-list-with-icons pi-list-icons-dot pi-margin-bottom-30">
            <!--<li>Feature: Add current menu item highlighting feature to onepage versions.</li>-->
            <li>Artticker vs Artfacts Ranking Chart</li>
            <li>Add support for 2 level deep artist links</li>
            <li>Add support for other language galleries discovery</li>
            <li>Add submit gallery not working page</li>
             <!--<li>Update: Google captcha update.</li>
             <li>Fix: Portfolio items overlapping issue.</li>
             <li>Docs: captcha docs cahnged</li>-->
          </ul>

          <h4 class="pi-uppercase pi-weight-700 pi-letter-spacing">v1.0.1:<br><span class="pi-smaller-text">Jan 4, 2016</span></h4>
          <ul class="pi-list-with-icons pi-list-icons-dot pi-margin-bottom-30">
            <!--<li>Feature: Add current menu item highlighting feature to onepage versions.</li>-->
             <li>Update: Updated Art Facts to Latest: 1/4/2015</li>
             <!--<li>Update: Google captcha update.</li>
             <li>Fix: Portfolio items overlapping issue.</li>
             <li>Docs: captcha docs cahnged</li>-->
          </ul>
          <h4 class="pi-uppercase pi-weight-700 pi-letter-spacing">v1.0.0:<br><span class="pi-smaller-text">Jan 1, 2016</span></h4>
          <ul class="pi-list-with-icons pi-list-icons-dot pi-margin-bottom-30">
             <li>Update: Transferred to Rutgers VM</li>
          </ul>
       </div>
    </div>
 </div>
{% endblock %}
