{%extends 'art/base.html'%}
{% block content %}
<script>
$(document).ready(function() {
    $("#submitArtistCsv").click(function(){
      $("#messageArtist").html('');
      $("#messageArtist").html($("#messageArtist").html() + '<div class="row"><div class="small-4 small-offset-4 columns"><a href="' + "{% url 'art:settings' %}" + '" class="success expanded button">Done</a></div></div>');
      {% for artist in artists %}
        $.ajax({
          url: '/art/add_artist/',
          type: 'get', //this is the default though, you don't actually need to always mention it
          data:{
              "artist": '{{artist}}',
              "gallery": {{gallery}},
            },
          success: function(data) {
              console.log(data);
              var message = ""
              if(data === '0'){
              message = "Successfully Added Artist: " + "{{artist}}";
                $("#messageArtist").html('<br><div class="success callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>' + $("#messageArtist").html());
              }else if (data === '1'){
              message = "Artist " + "{{artist}}" + " Already Exists";
                $("#messageArtist").html('<br><div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>' + $("#messageArtist").html());
              }else{
                message = "Error Adding Artist";
                $("#messageArtist").html('<br><div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>' + $("#messageArtist").html());
              }
          },
          error: function(data) {
              message = "Error Adding Artist";
              $("#messageArtist").html('<div class="alert callout" data-closable><h6>' + message + '</h6><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>' + $("#messageArtist").html());
          }
        });
      {%endfor%}
    });
});
</script>
<div class="row">
  <div class="small-12 columns">
    {% load humanize %}
    {% load staticfiles %}
    {%if status == 0%}
      <div id="messageArtist">
        <div class="large-6 columns">
          <h3> Confirm Artist Upload</h3>
          <div class="success callout" data-closable>
            <h5> Artists: </h5>
            {%for artist in artists%}
              <div class="row">
                <div class="large-4 large-offset-2 columns">
                  &bull; {{artist}} 
                </div>
              </div>
            {%endfor%}
            <br>
            <h5>Gallery: </h5>
              <div class="row">
                <div class="large-4 large-offset-2 columns">
                  &bull; {{gallery_name}} 
                </div>
              </div>
          </div>
          <div class="row">
            <div class="small-4 small-offset-4 columns">
              <button id="submitArtistCsv" type="button" class="success expanded button">Save</button>
            </div>
          </div>
        </div>
      </div>
    {%endif%}
    {%if status == 1%}
      <div class="large-6 columns">
        <div class="alert callout" data-closable>
          <h4> Only One Column needed for Artist</h4>
        </div>
        <div class="row"><div class="small-4 small-offset-4 columns"><a href="{% url 'art:settings' %}" class="success expanded button">Done</a></div></div>
      </div>
    {%endif%}
    {%if status == 2%}
      <div class="large-6 columns">
        <div class="alert callout" data-closable>
          <h4> First column needs to be artists</h4>
        </div>
        <div class="row"><div class="small-4 small-offset-4 columns"><a href="{% url 'art:settings' %}" class="success expanded button">Done</a></div></div>
      </div>
    {%endif%}
    {%if status == 3%}
      <div class="large-6 columns">
        <div class="alert callout" data-closable>
          <h4> File Needs to Have more than 1 Row</h4>
        </div>
        <div class="row"><div class="small-4 small-offset-4 columns"><a href="{% url 'art:settings' %}" class="success expanded button">Done</a></div></div>
      </div>
    {%endif%}
    {%if status == 4%}
      <div class="large-6 columns">
        <div class="alert callout" data-closable>
          <h4> Headers and Rows Needs to Aligned Correctly</h4>
        </div>
        <div class="row"><div class="small-4 small-offset-4 columns"><a href="{% url 'art:settings' %}" class="success expanded button">Done</a></div></div>
      </div>
    {%endif%}
    {%if status == 5%}
      <div class="large-6 columns">
        <div class="alert callout" data-closable>
          <h4> Names need to have Minimum Two Words</h4>
        </div>
        <div class="row"><div class="small-4 small-offset-4 columns"><a href="{% url 'art:settings' %}" class="success expanded button">Done</a></div></div>
      </div>
    {%endif%}
  </div>
</div>
{% endblock %}
