{%extends 'art/base.html'%}
{% block content %}
<script>
function getNames(){
	if ($("#article").val() === ""){
		return
	}
	urls = $('textarea#article').val().split('\n');
	console.log(urls);
	$('#label').text("Getting Data");
	getUrls(0, urls)
}
function getUrls(curr_url, urls){
	console.log(curr_url)
	if(curr_url === urls.length){
		return
	}
	$.ajax({
		type: "POST",
		async: true,
		url: "../gallery_get/",
		data: { url:  urls[curr_url] },
		success: function(data){
			if (curr_url == 0){
				$('#label').text("");
			}
			$('#label').html($('#label').html() + urls[curr_url] + "<br>" + data + "<br><br>")
			console.log(data);
			new_index = curr_url + 1
			getUrls(new_index, urls)
		},
		error: function(data) {
			$('#label').html($('#label').html() + urls[curr_url] + "<br>" + "Error" + "<br><br>")
			console.log(data);
			new_index = curr_url + 1
			getUrls(new_index, urls)
		}
		});
}


</script>

<div class="row">
	<div class="small-12 columns">
		{% load humanize %}
		{% load staticfiles %}
		  <div class="row">
			 <div class="large-12 columns">
				 <div id="label1">
					<div id="label" data-alert class="alert-box success radius">
					  <a href="#" class="close">&times;</a>
					</div>
				 </div>
				<label>Test Gallery URL...
				  <textarea id="article" placeholder="URL..." rows="7"></textarea>
				</label>
				<br>
				<a href="#" class="button success" style="text-align:center" onclick="getNames()">Submit</a>
			 </div>
		  </div>


	</div>
</div>
{% endblock %}
