{%extends 'art/base.html'%}
{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPfugPVQjJ40XVL_m3s7V-rMOQ1HpHZCw&libraries=places"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css" />
 <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js"></script>
<script src="https://rawgit.com/jseppi/Leaflet.MakiMarkers/master/Leaflet.MakiMarkers.js"></script>
<script>
$( document ).ready(function() {
		    console.log( "ready!" );
			 initialize()
});
function getGalleries(){
	$.ajax({
		type: "GET",
		//async: true,
		url: "../get_galleries/",
		data: { url:  $("#location option:selected").val() },
		success: function(data){
			console.log(data)
		},
		error: function(data) {
			console.log(data);
		}
	});
}
var hsv2rgb = function(h, s, v) {
  // adapted from http://schinckel.net/2012/01/10/hsv-to-rgb-in-javascript/
  var rgb, i, data = [];
  if (s === 0) {
    rgb = [v,v,v];
  } else {
    h = h / 60;
    i = Math.floor(h);
    data = [v*(1-s), v*(1-s*(h-i)), v*(1-s*(1-(h-i)))];
    switch(i) {
      case 0:
        rgb = [v, data[2], data[0]];
        break;
      case 1:
        rgb = [data[1], v, data[0]];
        break;
      case 2:
        rgb = [data[0], v, data[2]];
        break;
      case 3:
        rgb = [data[0], data[1], v];
        break;
      case 4:
        rgb = [data[2], data[0], v];
        break;
      default:
        rgb = [v, data[0], data[1]];
        break;
    }
  }
  return '#' + rgb.map(function(x){
    return ("0" + Math.round(x*255).toString(16)).slice(-2);
  }).join('');
};

/*function getColor(val){
	if (val > 100) {
   	val = 100;
    }
    else if (val < 0) {
       val = 0;
    }
	 var h= Math.floor((100 - val) * 120 / 100);
    var s = Math.abs(val - 50)/50;
    var v = 1;
	 var color = hsv2rgb(h, s, 1)
	 console.log(color)
	 return color
}*/

/**
 * @param latLngInDeg array of arrays with latitude and longtitude
 *   pairs in degrees. e.g. [[latitude1, longtitude1], [latitude2
 *   [longtitude2] ...]
 *
 * @return array with the center latitude longtitude pairs in
 *   degrees.
 */
function getLatLngCenter(latLngInDegr) {
    var LATIDX = 0;
    var LNGIDX = 1;
    var sumX = 0;
    var sumY = 0;
    var sumZ = 0;

    for (var i=0; i<latLngInDegr.length; i++) {
        var lat = degr2rad(latLngInDegr[i][LATIDX]);
        var lng = degr2rad(latLngInDegr[i][LNGIDX]);
        // sum of cartesian coordinates
        sumX += Math.cos(lat) * Math.cos(lng);
        sumY += Math.cos(lat) * Math.sin(lng);
        sumZ += Math.sin(lat);
    }

    var avgX = sumX / latLngInDegr.length;
    var avgY = sumY / latLngInDegr.length;
    var avgZ = sumZ / latLngInDegr.length;

    // convert average x, y, z coordinate to latitude and longtitude
    var lng = Math.atan2(avgY, avgX);
    var hyp = Math.sqrt(avgX * avgX + avgY * avgY);
    var lat = Math.atan2(avgZ, hyp);

    return ([rad2degr(lat), rad2degr(lng)]);
}

function getColor2(d) {
    return d > 1000 ? '#800026' :
           d > 500  ? '#BD0026' :
           d > 200  ? '#E31A1C' :
           d > 100  ? '#FC4E2A' :
           d > 50   ? '#FD8D3C' :
           d > 20   ? '#FEB24C' :
           d > 10   ? '#FED976' :
                      '#FFEDA0';
}

function getUrls(result, marker, marker1){
	url = result.website
	$.ajax({
		type: "POST",
		async: true,
		url: "../getsave_gallery/",
		data: { url:  url, name: result.name, place_id: result.place_id, address: result.formatted_address, lat:result.geometry.location.lat(), lon :result.geometry.location.lng()},
		success: function(data){
			console.log("raw_data:(" + data + ")")
			var data = JSON.parse(data);
			var max = 0
			for (var key in data){
				max = Math.max(max, data[key])
			}
			curr_color = getColor2(max)
			console.log(data);
			output = url + "<br>"
			var names = "<br><br>"
			for (var key in data){
				names = names + "<div style='background-color:" + getColor2(data[key]) + "'>" + key + "->" + data[key] + "<div>"
			}
			marker.setContent(result.name + "<br><br>" + result.website + "<div style='max-height:200px;overflow-y: auto;'>" + names + "</div>");
			marker.update()

			 var icon = L.MakiMarkers.icon({color: curr_color, size: "m"});
			 marker1.setIcon(icon)
			if (jQuery.isEmptyObject(data)){
				 var icon = L.MakiMarkers.icon({color: "fff", size: "m"});
				 marker1.setIcon(icon)

			}
//		 	marker.openPopup();
			//infoWindow.open(map, marker);
		},
		error: function(data) {
			output = url + "<br>" + data + "<br><br>"
			infoWindow.setContent(result.name + "<br><br>" + output);
			infoWindow.open(map, marker);
			console.log(data);
		}
	});
}

var map;
var service;
var infoWindow;

function initialize() {
	console.log("initialize")
  var pyrmont = new google.maps.LatLng(40.742352,-74.006210);

  ///map = new google.maps.Map(document.getElementById('map'), {
     // center: pyrmont,
      //zoom: 15
   // });
	console.log("setup map")
	map = L.map('map');
// create the tile layer with correct attribution
	var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
	var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 20, attribution: osmAttrib});

	// start the map in South-East England
	map.setView(new L.LatLng(40.742352,-74.006210),15);
	map.addLayer(osm);


	console.log("request")
  var request = {
    location: pyrmont,
    radius: '1000',
	 types: ['art_gallery'],
	 //name: "gallery"
    //query: 'gallery near chelsea'
  };
  //infoWindow = new google.maps.InfoWindow();
	console.log("places")
  service = new google.maps.places.PlacesService(document.getElementById('attrib'));
	console.log("nearby")
  service.nearbySearch(request, callback);
}
var counter = 0;
function callback(results, status, pagination) {
	console.log("in callback")
  if (status == google.maps.places.PlacesServiceStatus.OK) {
    for (var i = 0; i < results.length; i++) {
      var place = results[i];
		console.log(results[i]);
		counter += 400
		setDelay(results[i], counter);
    }
	 if(pagination.hasNextPage){
		pagination.nextPage()
		}
  }
}

function setDelay(result, counter){
	setTimeout(function(){addMarker(result);},counter);
}


function addMarker(place) {
	console.log("adding marker: " + new Date().getMilliseconds())
	var marker = L.marker([place.geometry.location.lat(), place.geometry.location.lng()]).addTo(map)
  /*var marker = new google.maps.Marker({
    map: map,
    position: place.geometry.location,
    icon: {
      url: 'http://maps.gstatic.com/mapfiles/circle.png',
      anchor: new google.maps.Point(10, 10),
      scaledSize: new google.maps.Size(10, 17)
    }
  });*/
	marker.bindPopup("Loading...")
	service.getDetails(place, function(result, status) {
	if (status !== google.maps.places.PlacesServiceStatus.OK) {
	  console.error("error!!!");
	  console.error(status);
	  return;
	}
	console.log(result)
	console.log(result.website)
	artists = getUrls(result, marker.getPopup(), marker)
 });



	console.log(place.geometry.location)
//	marker.bindPopup("Loading...")
   marker.on('mouseover', function (e) {
		/*var popup = e.target.getPopup()
		service.getDetails(place, function(result, status) {
			if (status !== google.maps.places.PlacesServiceStatus.OK) {
			  console.error(status);
			  return;
			}
			console.log(result)
			console.log(result.website)
			artists = getUrls(result, popup, e.target)
		 });*/
		console.log("over")
		 this.openPopup();
   });
   marker.on('mouseout', function (e) {
//		console.log("out")
		setTimeout(function () {
			e.target.closePopup();
			}, 3000);
   });

/*  google.maps.event.addListener(marker, 'mouseover', function() {
    service.getDetails(place, function(result, status) {
      if (status !== google.maps.places.PlacesServiceStatus.OK) {
        console.error(status);
        return;
      }
		console.log(result)
		console.log(result.website)
		artists = getUrls(result, marker)
    });
  });*/
}


//}

</script>

<div style="margin-left:10%;margin-bottom:20px">
<div id="map" style="width:90%;height:500px"></div>
</div>
<div class="row">
	<div class="small-12 columns">
		{% load humanize %}
		{% load staticfiles %}
		  <div class="row">
			 <div class="large-12 columns">
				 <div id="label1">
					<div id="label" data-alert class="alert-box success radius">
					  <a href="#" class="close">&times;</a>
					</div>
				 </div>
				<!--<label>Test Location...
					<select id="location">
					<option value="http://art-collecting.com/galleries_al.htm">Alabama</option>
					<option value="http://art-collecting.com/galleries_ak.htm">Alaska</option>
					<option value="http://art-collecting.com/galleries_az.htm">Arizona</option>
					<option value="http://art-collecting.com/galleries_az_scottsdale.htm">.....Scottsdale</option>
					<option value="http://art-collecting.com/galleries_az_sedona.htm">.....Sedona</option>
					<option value="http://art-collecting.com/galleries_ar.htm">Arkansas</option>
					<option value="http://art-collecting.com/galleries_ca.htm">California</option>
					<option value="http://art-collecting.com/galleries_ca_north.htm">.....Northern California</option>
					<option value="http://art-collecting.com/galleries_ca_sanfrancisco.htm">..........San Francisco</option>
					<option value="http://art-collecting.com/galleries_ca_marincounty.htm">..........Marin County</option>
					<option value="http://art-collecting.com/galleries_ca_carmel.htm">..........Carmel</option>
					<option value="http://art-collecting.com/galleries_ca_north.htm">..........Other Northern California</option>
					<option value="http://art-collecting.com/galleries_ca_south.htm">.....Southern California</option>
					<option value="http://art-collecting.com/galleries_ca_losangeles.htm">..........Los Angeles</option>
					<option value="http://art-collecting.com/galleries_ca_culvercity.htm">..........Culver City</option>
					<option value="http://art-collecting.com/galleries_ca_santamonica.htm">..........Santa Monica</option>
					<option value="http://art-collecting.com/galleries_ca_bergamot_station.htm">..........Bergamot Station</option>
					<option value="http://art-collecting.com/galleries_ca_lagunabeach.htm">..........Laguna Beach</option>
					<option value="http://art-collecting.com/galleries_ca_sandiego.htm">..........San Diego / La Jolla</option>
					<option value="http://art-collecting.com/galleries_ca_south.htm">..........Other Southern California</option>
					<option value="http://art-collecting.com/galleries_co.htm">Colorado</option>
					<option value="http://art-collecting.com/galleries_co_denver.htm">.....Denver</option>
					<option value="http://art-collecting.com/galleries_co_aspen.htm">.....Aspen</option>
					<option value="http://art-collecting.com/galleries_ct.htm">Connecticut</option>
					<option value="http://art-collecting.com/galleries_de.htm">Delaware</option>
					<option value="http://art-collecting.com/galleries_dc.htm">District of Columbia</option>
					<option value="http://art-collecting.com/galleries_fl.htm">Florida</option>
					<option value="http://art-collecting.com/galleries_fl_miami.htm">.....Miami</option>
					<option value="http://art-collecting.com/galleries_ga.htm">Georgia</option>
					<option value="http://art-collecting.com/galleries_ga_atlanta.htm">.....Atlanta</option>
					<option value="http://art-collecting.com/galleries_hi.htm">Hawaii</option>
					<option value="http://art-collecting.com/galleries_id.htm">Idaho</option>
					<option value="http://art-collecting.com/galleries_il.htm">Illinois</option>
					<option value="http://art-collecting.com/galleries_il_chicago.htm">.....Chicago</option>
					<option value="http://art-collecting.com/galleries_in.htm">Indiana</option>
					<option value="http://art-collecting.com/galleries_ia.htm">Iowa</option>
					<option value="http://art-collecting.com/galleries_ks.htm">Kansas</option>
					<option value="http://art-collecting.com/galleries_ky.htm">Kentucky</option>
					<option value="http://art-collecting.com/galleries_la.htm">Louisiana</option>
					<option value="http://art-collecting.com/galleries_me.htm">Maine</option>
					<option value="http://art-collecting.com/galleries_md.htm">Maryland</option>
					<option value="http://art-collecting.com/galleries_md_baltimore.htm">.....Baltimore</option>
					<option value="http://art-collecting.com/galleries_ma.htm">Massachusetts</option>
					<option value="http://art-collecting.com/galleries_ma_boston.htm">.....Boston</option>
					<option value="http://art-collecting.com/galleries_mi.htm">Michigan</option>
					<option value="http://art-collecting.com/galleries_mn.htm">Minnesota</option>
					<option value="http://art-collecting.com/galleries_ms.htm">Mississippi</option>
					<option value="http://art-collecting.com/galleries_mo.htm">Missouri</option>
					<option value="http://art-collecting.com/galleries_mt.htm">Montana</option>
					<option value="http://art-collecting.com/galleries_ne.htm">Nebraska</option>
					<option value="http://art-collecting.com/galleries_nv.htm">Nevada</option>
					<option value="http://art-collecting.com/galleries_nh.htm">New Hampshire</option>
					<option value="http://art-collecting.com/galleries_nj.htm">New Jersey</option>
					<option value="http://art-collecting.com/galleries_nm.htm">New Mexico</option>
					<option value="http://art-collecting.com/galleries_nm_santafe.htm">.....Santa Fe</option>
					<option value="http://art-collecting.com/galleries_nm_taos.htm">.....Taos</option>
					<option value="http://art-collecting.com/galleries_ny.htm">New York</option>
					<option value="http://art-collecting.com/galleries_ny_chelsea.htm">.....Chelsea</option>
					<option value="http://art-collecting.com/galleries_ny.htm">.....Lower East Side</option>
					<option value="http://art-collecting.com/galleries_ny.htm">.....Downtown</option>
					<option value="http://art-collecting.com/galleries_ny.htm">.....Uptown</option>
					<option value="http://art-collecting.com/galleries_ny_brooklyn.htm">.....Brooklyn</option>
					<option value="http://art-collecting.com/galleries_ny_hamptons.htm">.....The Hamptons</option>
					<option value="http://art-collecting.com/galleries_ny.htm">.....Other New York</option>
					<option value="http://art-collecting.com/galleries_nc.htm">North Carolina</option>
					<option value="http://art-collecting.com/galleries_nc_asheville.htm">.....Asheville.....</option>
					<option value="http://art-collecting.com/galleries_nd.htm">North Dakota</option>
					<option value="http://art-collecting.com/galleries_oh.htm">Ohio</option>
					<option value="http://art-collecting.com/galleries_oh_columbus.htm">.....Columbus</option>
					<option value="http://art-collecting.com/galleries_ok.htm">Oklahoma</option>
					<option value="http://art-collecting.com/galleries_or.htm">Oregon</option>
					<option value="http://art-collecting.com/galleries_or_portland.htm">.....Portland</option>
					<option value="http://art-collecting.com/galleries_pa.htm">Pennsylvania</option>
					<option value="http://art-collecting.com/galleries_pa_philadelphia.htm">.....Philadelphia</option>
					<option value="http://art-collecting.com/galleries_ri.htm">Rhode Island</option>
					<option value="http://art-collecting.com/galleries_sc.htm">South Carolina</option>
					<option value="http://art-collecting.com/galleries_sd.htm">South Dakota</option>
					<option value="http://art-collecting.com/galleries_tn.htm">Tennessee</option>
					<option value="http://art-collecting.com/galleries_tx.htm">Texas</option>
					<option value="http://art-collecting.com/galleries_tx_dallas.htm">.....Dallas</option>
					<option value="http://art-collecting.com/galleries_tx_houston.htm">.....Houston</option>
					<option value="http://art-collecting.com/galleries_ut.htm">Utah</option>
					<option value="http://art-collecting.com/galleries_vt.htm">Vermont</option>
					<option value="http://art-collecting.com/galleries_va.htm">Virginia</option>
					<option value="http://art-collecting.com/galleries_wa.htm">Washington</option>
					<option value="http://art-collecting.com/galleries_seattle.htm">.....Seattle</option>
					<option value="http://art-collecting.com/galleries_wa_tacoma.htm">.....Tacoma</option>
					<option value="http://art-collecting.com/galleries_wv.htm">West Virginia</option>
					<option value="http://art-collecting.com/galleries_wi.htm">Wisconsin</option>
					<option value="http://art-collecting.com/galleries_wy.htm">Wyoming</option>
					<option value="http://art-collecting.com/galleries_london.htm">Europe</option>
					<option value="http://art-collecting.com/galleries_berlin.htm">.....Berlin</option>
					<option value="http://art-collecting.com/galleries_london.htm">.....London</option>
					<option value="http://art-collecting.com/galleries_paris.htm">.....Paris</option>
					<option value="http://art-collecting.com/latin-america-galleries.htm">Latin America</option>
					</select>-->
				  <!--<textarea id="article" placeholder="URL..." rows="7"></textarea>-->
				</label>
				<br>
				<a href="#" class="button success" style="text-align:center" onclick="initialize()">Submit</a>
			 </div>
		  </div>

<div id="attrib" style="width:90%;height:0px"></div>

	</div>
</div>
{% endblock %}
