{%extends 'art/base.html'%}
{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPfugPVQjJ40XVL_m3s7V-rMOQ1HpHZCw&libraries=places"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" />
<link rel="stylesheet" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" />
 <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js"></script>
<script src="https://rawgit.com/jseppi/Leaflet.MakiMarkers/master/Leaflet.MakiMarkers.js"></script>
<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script>
var cartTable;
$( document ).ready(function() {
		    console.log( "ready!" );
			cartTable = $('#cartTable').DataTable({
					"bPaginate": false,
				    "bLengthChange": false,
					"bFilter": false,});
			 initialize()
});

no_artist_found = []
function get_cached(){
	$.ajax({
		type: "GET",
		//async: true,
		url: "../get_galleries/",
		data: { cached:"True"},
		success: function(data){
			console.log(data)
			var data = JSON.parse(data);
			for (var key in data){
				gallery_id = data[key][0];
				gallery_name = data[key][1];
				gallery_website = data[key][2];
				lat = data[key][3];
				lng = data[key][4];
				addCachedMarker(gallery_id, gallery_name, gallery_website, lat, lng)
			}
		},
		error: function(data) {
			console.log(data);
		}
	});
}

function get_google(){
	$.ajax({
		type: "GET",
		//async: true,
		url: "../get_galleries/",
		data: { google:"True"},
		success: function(data){
			console.log(data)
			var data = JSON.parse(data);
			for (var key in data){
				gallery_id = data[key][0];
				gallery_name = data[key][1];
				gallery_website = data[key][2];
				lat = data[key][3];
				lng = data[key][4];
				addCachedMarker(gallery_id, gallery_name, gallery_website, lat, lng)
			}
		},
		error: function(data) {
			console.log(data);
		}
	});
}

function get_factual(){
	$.ajax({
		type: "GET",
		//async: true,
		url: "../get_galleries/",
		data: { factual:"True"},
		success: function(data){
			console.log(data)
			/*
			var data = JSON.parse(data);
			for (var key in data){
				gallery_id = data[key][0];
				gallery_name = data[key][1];
				gallery_website = data[key][2];
				lat = data[key][3];
				lng = data[key][4];
				addCachedMarker(gallery_id, gallery_name, gallery_website, lat, lng)
			}
			*/
		},
		error: function(data) {
			console.log(data);
		}
	});
}

var hsv2rgb = function(h, s, v) {
  // adapted from http://schinckel.net/2012/01/10/hsv-to-rgb-in-javascript/
  var rgb, i, data = [];
  if (s === 0) {
    rgb = [v,v,v];
  } else {
    h = h / 60;
    i = Math.floor(h);
    data = [v*(1-s), v*(1-s*(h-i)), v*(1-s*(1-(h-i)))];
    switch(i) {
      case 0:
        rgb = [v, data[2], data[0]];
        break;
      case 1:
        rgb = [data[1], v, data[0]];
        break;
      case 2:
        rgb = [data[0], v, data[2]];
        break;
      case 3:
        rgb = [data[0], data[1], v];
        break;
      case 4:
        rgb = [data[2], data[0], v];
        break;
      default:
        rgb = [v, data[0], data[1]];
        break;
    }
  }
  return '#' + rgb.map(function(x){
    return ("0" + Math.round(x*255).toString(16)).slice(-2);
  }).join('');
};

/*function getColor(val){
	if (val > 100) {
   	val = 100;
    }
    else if (val < 0) {
       val = 0;
    }
	 var h= Math.floor((100 - val) * 120 / 100);
    var s = Math.abs(val - 50)/50;
    var v = 1;
	 var color = hsv2rgb(h, s, 1)
	 console.log(color)
	 return color
}*/

/**
 * @param latLngInDeg array of arrays with latitude and longtitude
 *   pairs in degrees. e.g. [[latitude1, longtitude1], [latitude2
 *   [longtitude2] ...]
 *
 * @return array with the center latitude longtitude pairs in
 *   degrees.
 */
function getLatLngCenter(latLngInDegr) {
    var LATIDX = 0;
    var LNGIDX = 1;
    var sumX = 0;
    var sumY = 0;
    var sumZ = 0;

    for (var i=0; i<latLngInDegr.length; i++) {
        var lat = degr2rad(latLngInDegr[i][LATIDX]);
        var lng = degr2rad(latLngInDegr[i][LNGIDX]);
        // sum of cartesian coordinates
        sumX += Math.cos(lat) * Math.cos(lng);
        sumY += Math.cos(lat) * Math.sin(lng);
        sumZ += Math.sin(lat);
    }

    var avgX = sumX / latLngInDegr.length;
    var avgY = sumY / latLngInDegr.length;
    var avgZ = sumZ / latLngInDegr.length;

    // convert average x, y, z coordinate to latitude and longtitude
    var lng = Math.atan2(avgY, avgX);
    var hyp = Math.sqrt(avgX * avgX + avgY * avgY);
    var lat = Math.atan2(avgZ, hyp);

    return ([rad2degr(lat), rad2degr(lng)]);
}

function getColor(d) {
    return d > 1000 ? '#800026' :
           d > 500  ? '#BD0026' :
           d > 200  ? '#E31A1C' :
           d > 100  ? '#FC4E2A' :
           d > 50   ? '#FD8D3C' :
           d > 20   ? '#FEB24C' :
           d > 10   ? '#FED976' :
                      '#FFEDA0';
}

function getFontColor(d) {
    return '#000';
}

function test(name){
	alert(name);

}
cart = []
function  addToCart(name, gallery){
//	alert("add to cart: " + name + " " + gallery)
	var test = false
	$.each(cart, function( index, value ) {
		if (value[0] === name && value[1] === gallery){
			//alert("same removing index: " + index)
			cart.splice(index, 1);
			var newCount = parseInt($("#cartCount").text(), 10) - 1
			test = true
		}
	});
	if (test === true){
			$("#cartCount").html((parseInt($("#cartCount").text(), 10) - 1));
	}else{
		addElement = [name, gallery]
		cart.push(addElement)
		console.log(cart)
		$("#cartCount").html(function(i, val) { return +val+1 });
	}

}

function showCart(){
		cartTable.clear().draw();

		$('#cartModal').foundation('reveal', 'open');
		$.each(cart, function( index, value ) {
//alert(value[0] + " , " + value[1]);
			name = value[0];
			gallery = value[1];
			//alert(name + " " +  gallery)
			cartTable.row.add([name, gallery]).draw()
		});
}

function saveGallery(result, marker, marker1){
	url = result.website
	$.ajax({
		type: "POST",
		async: true,
		url: "../save_gallery/",
		data: { url:  url, name: result.name, place_id: result.place_id, address: result.formatted_address, lat:result.geometry.location.lat(), lon :result.geometry.location.lng()},
		success: function(data){
			getGalleryNames(data, result.name, result.website, marker, marker1);
		},
		error: function(data) {
			console.log(data);
		}
	});
}

function getGalleryNames(gallery_id, gallery_name, gallery_website, marker, marker1){
	$.ajax({
		type: "POST",
		async: true,
		url: "../get_gallery_names/",
		data: { gallery_id:  gallery_id, url:  gallery_website},
		success: function(data){
			console.log("raw_data:(" + data + ")")
			try{
				var data = JSON.parse(data);
			}catch(e){
					marker.setContent(gallery_name + "<br><br>" + gallery_website + "<div style='max-height:200px;overflow-y: auto;overflow-x:scroll'>" + data + "</div>");
					marker.update()
					var icon = L.MakiMarkers.icon({color: "000", size: "m"});
					marker1.setIcon(icon);
					no_artist_found.push(gallery_website)
					map.removeLayer(marker1);
					return
			}
			var max = 0
			for (var key in data){
				max = Math.max(max, data[key])
			}
			curr_color = getColor(max)
			console.log(data);
			//output = url + "<br>"
			var names = ""
			for (var key in data){
					names = names + "<div style='overflow:hidden;background-color:" + getColor(data[key]) + ";font-size: 120%;color:" + getFontColor(data[key]) + ";text-shadow: #fff 0.1em 0.0em 0.7em, #fff 0.0em 0.1em 0.7em, #fff 0.0em 0.0em 0.7em,#fff 0.0em 0.0em 0.7em;margin-top:0px;margin-bottom:0px;padding:5px 5px 5px 5px;border: 1px dotted #ecf0f1;'><div style='overflow:hidden;display:inline;' >"+ key + "->" + data[key] + "</div><div style='float:right;display:inline;'><i class='fi-star' style='font-size: 120%;color:#19B5FE;float:right;padding: 2px 4px 2px 4px; text-shadow: #000 0.0em 0.0em 0.1em;' onclick='addToCart(\"" + key + "\", \"" + gallery_name + "\")' ></i><i class='fi-magnifying-glass' style='font-size: 120%;color:#BF55EC;float:right;padding: 2px 4px 2px 4px;text-shadow: #000 0.0em 0.0em 0.1em;' onclick='displayData(\"" + key + "\")' data-reveal-id=\"artistModal\" ></i></div></div>"
					//names = names + "<div style='background-color:" + getColor2(data[key]) + "'><span onclick='test(\"" + key + "\")'>"+ key + "->" + data[key] + "</span><div>"
			}
			marker.setContent("<h4>" + gallery_name + "</h4><br><h5 class='subheader'>" + gallery_website + "</h5><div style='max-height:200px;max-width:100%;overflow-y: auto;'>" + names + "</div>");
			marker.update()

			 var icon = L.MakiMarkers.icon({color: curr_color, size: "m"});
			 marker1.setIcon(icon)
			if (jQuery.isEmptyObject(data)){
				 var icon = L.MakiMarkers.icon({color: "fff", size: "m"});
				 marker1.setIcon(icon)

			}
//		 	marker.openPopup();
		},
		error: function(data) {
			console.log(data);
			marker.setContent(gallery_name + "<br><br>" + gallery_website + "<div style='max-height:200px;overflow-y: auto;overflow-x:scroll'>" + data + "</div>");
			marker.update()
		 	var icon = L.MakiMarkers.icon({color: "000", size: "m"});
			 marker1.setIcon(icon)
			//output = url + "<br>" + data + "<br><br>"
			//infoWindow.setContent(gallery_name + "<br><br>" + output);
			//infoWindow.open(map, marker);
		}
	});
}


var map;
var service;
var infoWindow;

function initialize() {
	console.log("initialize")
  var pyrmont = new google.maps.LatLng(40.742352,-74.006210);

  ///map = new google.maps.Map(document.getElementById('map'), {
     // center: pyrmont,
      //zoom: 15
   // });
	console.log("setup map")
	map = L.map('map');
// create the tile layer with correct attribution
	var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
	var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 20, attribution: osmAttrib});

	// start the map in South-East England
	map.setView(new L.LatLng(40.742352,-74.006210),15);
	map.addLayer(osm);


	console.log("request")
  var request = {
    location: pyrmont,
    radius: '10000',
	 types: ['art_gallery'],
	 name: "gallery",
    query: 'gallery near chelsea'
  };
  //infoWindow = new google.maps.InfoWindow();
	console.log("places")
  service = new google.maps.places.PlacesService(document.getElementById('attrib'));
	console.log("nearby")
  service.nearbySearch(request, callback);
	get_cached();
	get_google();
}
var counter = 0;
function callback(results, status, pagination) {
	console.log("in callback")
  if (status == google.maps.places.PlacesServiceStatus.OK) {
    for (var i = 0; i < results.length; i++) {
      var place = results[i];
		console.log(results[i]);
		counter += 400
		setDelay(results[i], counter);
    }
	 if(pagination.hasNextPage){
		pagination.nextPage()
		}
  }
}

function setDelay(result, counter){
	setTimeout(function(){addMarker(result);},counter);
}
var markers = []
function addCachedMarker(gallery_id, gallery_name, gallery_website, lat, long) {
	for (var m in markers){
		if(m.getLatLng().equals(L.latLng(lat, long))){
			return;
		}
	}
	var marker = L.marker([lat, long]).addTo(map)
	marker.bindPopup(gallery_name + "<br><br>" + gallery_website, {maxWidth: 300, minWidth: 200,})
	getGalleryNames(gallery_id, gallery_name, gallery_website, marker.getPopup(), marker)
   marker.on('mouseover', function (e) {
		console.log("over")
		this.openPopup();
   });
}

function addMarker(place) {
	for (var m in markers){
		if(m.getLatLng().equals(L.latLng(place.geometry.location.lat(), place.geometry.location.lng()))){
			return;
		}
	}
	console.log("adding marker: " + new Date().getMilliseconds())
	var marker = L.marker([place.geometry.location.lat(), place.geometry.location.lng()]).addTo(map)
	service.getDetails(place, function(result, status) {
			if (status !== google.maps.places.PlacesServiceStatus.OK) {
			  console.error("error!!!");
			  console.error(status);
			  return;
			}
			console.log(result)
			console.log(result.website)
			if(result.website === undefined){
				map.removeLayer(marker);
				return
			}
			marker.bindPopup(result.name + "<br><br>" + result.website, {maxWidth: 300, minWidth: 200,})
			saveGallery(result, marker.getPopup(), marker)
 });

	console.log(place.geometry.location)
   marker.on('mouseover', function (e) {
			console.log("over")
		 this.openPopup();
   });

}


//}

</script>

<div style="margin-left:10%;margin-bottom:20px">
<div id="cart" class="row">
		<div class="small-3 small-offset-9 columns" style="text-align:center;" onclick="showCart()" data-reveal-id=\"cartModal\">
				<div style="display:inline-block;vertical-align: middle;"><i class='fi-star' style='font-size: 250%;color:#19B5FE;padding: 0 10px 0 10px'></i></div>
				<div style="display:inline-block;vertical-align: middle;"><h1 id="cartCount">0</h1></div>
		</div>
</div>
<div id="map" style="width:90%;height:500px"></div>
</div>
<div class="row">
	<div class="small-12 columns">
		{% load humanize %}
		{% load staticfiles %}
		  <div class="row">
			 <div class="large-12 columns">
				 <div id="label1">
					<div id="label" data-alert class="alert-box success radius">
					  <a href="#" class="close">&times;</a>
					</div>
				 </div>
				<!--<label>Test Location...
					<select id="location">
					<option value="http://art-collecting.com/galleries_al.htm">Alabama</option>
					<option value="http://art-collecting.com/galleries_ak.htm">Alaska</option>
					<option value="http://art-collecting.com/galleries_az.htm">Arizona</option>
					<option value="http://art-collecting.com/galleries_az_scottsdale.htm">.....Scottsdale</option>
					<option value="http://art-collecting.com/galleries_az_sedona.htm">.....Sedona</option>
					<option value="http://art-collecting.com/galleries_ar.htm">Arkansas</option>
					<option value="http://art-collecting.com/galleries_ca.htm">California</option>
					<option value="http://art-collecting.com/galleries_ca_north.htm">.....Northern California</option>
					<option value="http://art-collecting.com/galleries_ca_sanfrancisco.htm">..........San Francisco</option>
					<option value="http://art-collecting.com/galleries_ca_marincounty.htm">..........Marin County</option>
					<option value="http://art-collecting.com/galleries_ca_carmel.htm">..........Carmel</option>
					<option value="http://art-collecting.com/galleries_ca_north.htm">..........Other Northern California</option>
					<option value="http://art-collecting.com/galleries_ca_south.htm">.....Southern California</option>
					<option value="http://art-collecting.com/galleries_ca_losangeles.htm">..........Los Angeles</option>
					<option value="http://art-collecting.com/galleries_ca_culvercity.htm">..........Culver City</option>
					<option value="http://art-collecting.com/galleries_ca_santamonica.htm">..........Santa Monica</option>
					<option value="http://art-collecting.com/galleries_ca_bergamot_station.htm">..........Bergamot Station</option>
					<option value="http://art-collecting.com/galleries_ca_lagunabeach.htm">..........Laguna Beach</option>
					<option value="http://art-collecting.com/galleries_ca_sandiego.htm">..........San Diego / La Jolla</option>
					<option value="http://art-collecting.com/galleries_ca_south.htm">..........Other Southern California</option>
					<option value="http://art-collecting.com/galleries_co.htm">Colorado</option>
					<option value="http://art-collecting.com/galleries_co_denver.htm">.....Denver</option>
					<option value="http://art-collecting.com/galleries_co_aspen.htm">.....Aspen</option>
					<option value="http://art-collecting.com/galleries_ct.htm">Connecticut</option>
					<option value="http://art-collecting.com/galleries_de.htm">Delaware</option>
					<option value="http://art-collecting.com/galleries_dc.htm">District of Columbia</option>
					<option value="http://art-collecting.com/galleries_fl.htm">Florida</option>
					<option value="http://art-collecting.com/galleries_fl_miami.htm">.....Miami</option>
					<option value="http://art-collecting.com/galleries_ga.htm">Georgia</option>
					<option value="http://art-collecting.com/galleries_ga_atlanta.htm">.....Atlanta</option>
					<option value="http://art-collecting.com/galleries_hi.htm">Hawaii</option>
					<option value="http://art-collecting.com/galleries_id.htm">Idaho</option>
					<option value="http://art-collecting.com/galleries_il.htm">Illinois</option>
					<option value="http://art-collecting.com/galleries_il_chicago.htm">.....Chicago</option>
					<option value="http://art-collecting.com/galleries_in.htm">Indiana</option>
					<option value="http://art-collecting.com/galleries_ia.htm">Iowa</option>
					<option value="http://art-collecting.com/galleries_ks.htm">Kansas</option>
					<option value="http://art-collecting.com/galleries_ky.htm">Kentucky</option>
					<option value="http://art-collecting.com/galleries_la.htm">Louisiana</option>
					<option value="http://art-collecting.com/galleries_me.htm">Maine</option>
					<option value="http://art-collecting.com/galleries_md.htm">Maryland</option>
					<option value="http://art-collecting.com/galleries_md_baltimore.htm">.....Baltimore</option>
					<option value="http://art-collecting.com/galleries_ma.htm">Massachusetts</option>
					<option value="http://art-collecting.com/galleries_ma_boston.htm">.....Boston</option>
					<option value="http://art-collecting.com/galleries_mi.htm">Michigan</option>
					<option value="http://art-collecting.com/galleries_mn.htm">Minnesota</option>
					<option value="http://art-collecting.com/galleries_ms.htm">Mississippi</option>
					<option value="http://art-collecting.com/galleries_mo.htm">Missouri</option>
					<option value="http://art-collecting.com/galleries_mt.htm">Montana</option>
					<option value="http://art-collecting.com/galleries_ne.htm">Nebraska</option>
					<option value="http://art-collecting.com/galleries_nv.htm">Nevada</option>
					<option value="http://art-collecting.com/galleries_nh.htm">New Hampshire</option>
					<option value="http://art-collecting.com/galleries_nj.htm">New Jersey</option>
					<option value="http://art-collecting.com/galleries_nm.htm">New Mexico</option>
					<option value="http://art-collecting.com/galleries_nm_santafe.htm">.....Santa Fe</option>
					<option value="http://art-collecting.com/galleries_nm_taos.htm">.....Taos</option>
					<option value="http://art-collecting.com/galleries_ny.htm">New York</option>
					<option value="http://art-collecting.com/galleries_ny_chelsea.htm">.....Chelsea</option>
					<option value="http://art-collecting.com/galleries_ny.htm">.....Lower East Side</option>
					<option value="http://art-collecting.com/galleries_ny.htm">.....Downtown</option>
					<option value="http://art-collecting.com/galleries_ny.htm">.....Uptown</option>
					<option value="http://art-collecting.com/galleries_ny_brooklyn.htm">.....Brooklyn</option>
					<option value="http://art-collecting.com/galleries_ny_hamptons.htm">.....The Hamptons</option>
					<option value="http://art-collecting.com/galleries_ny.htm">.....Other New York</option>
					<option value="http://art-collecting.com/galleries_nc.htm">North Carolina</option>
					<option value="http://art-collecting.com/galleries_nc_asheville.htm">.....Asheville.....</option>
					<option value="http://art-collecting.com/galleries_nd.htm">North Dakota</option>
					<option value="http://art-collecting.com/galleries_oh.htm">Ohio</option>
					<option value="http://art-collecting.com/galleries_oh_columbus.htm">.....Columbus</option>
					<option value="http://art-collecting.com/galleries_ok.htm">Oklahoma</option>
					<option value="http://art-collecting.com/galleries_or.htm">Oregon</option>
					<option value="http://art-collecting.com/galleries_or_portland.htm">.....Portland</option>
					<option value="http://art-collecting.com/galleries_pa.htm">Pennsylvania</option>
					<option value="http://art-collecting.com/galleries_pa_philadelphia.htm">.....Philadelphia</option>
					<option value="http://art-collecting.com/galleries_ri.htm">Rhode Island</option>
					<option value="http://art-collecting.com/galleries_sc.htm">South Carolina</option>
					<option value="http://art-collecting.com/galleries_sd.htm">South Dakota</option>
					<option value="http://art-collecting.com/galleries_tn.htm">Tennessee</option>
					<option value="http://art-collecting.com/galleries_tx.htm">Texas</option>
					<option value="http://art-collecting.com/galleries_tx_dallas.htm">.....Dallas</option>
					<option value="http://art-collecting.com/galleries_tx_houston.htm">.....Houston</option>
					<option value="http://art-collecting.com/galleries_ut.htm">Utah</option>
					<option value="http://art-collecting.com/galleries_vt.htm">Vermont</option>
					<option value="http://art-collecting.com/galleries_va.htm">Virginia</option>
					<option value="http://art-collecting.com/galleries_wa.htm">Washington</option>
					<option value="http://art-collecting.com/galleries_seattle.htm">.....Seattle</option>
					<option value="http://art-collecting.com/galleries_wa_tacoma.htm">.....Tacoma</option>
					<option value="http://art-collecting.com/galleries_wv.htm">West Virginia</option>
					<option value="http://art-collecting.com/galleries_wi.htm">Wisconsin</option>
					<option value="http://art-collecting.com/galleries_wy.htm">Wyoming</option>
					<option value="http://art-collecting.com/galleries_london.htm">Europe</option>
					<option value="http://art-collecting.com/galleries_berlin.htm">.....Berlin</option>
					<option value="http://art-collecting.com/galleries_london.htm">.....London</option>
					<option value="http://art-collecting.com/galleries_paris.htm">.....Paris</option>
					<option value="http://art-collecting.com/latin-america-galleries.htm">Latin America</option>
					</select>-->
				  <!--<textarea id="article" placeholder="URL..." rows="7"></textarea>-->
				</label>
				<br>
				<a href="#" class="button success" style="text-align:center" onclick="initialize()">Submit</a>
			 </div>
		  </div>

<div id="attrib" style="width:90%;height:0px"></div>

	</div>
</div>
<div id="cartModal" class="reveal-modal" data-reveal>
	<h1 style="font-family: 'Roboto', sans-serif; font-weight: bold;">Starred Artists</h1>
	<table id="cartTable">
		<thead>
            <tr>
                <th>Artist</th>
                <th>Gallery</th>
            </tr>
        </thead>
	</table>
	<a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}
