{% extends 'art/base.html'%}
{% block content %}
{% load staticfiles %}

<div class="row">
	<div class="small-9 columns">
		{% load humanize %}
		{%for link in link_list%}
			<div class="panel callout radius">
				<h5><a href="javascript:void(0);" data-open="artistModal" onclick="displayData('{{link.name}}');return false;">{{link.name}}</a></h5>
				<!--<p style="text-align: right; color:#999; ">Last seen:{{link.date|naturalday|capfirst}}</p>-->
			</div>

		{%endfor%}
	</div>
</div>



{% endblock %}
