{%extends 'art/base.html'%}
{% block content %}
<script>
function getSVM(){
	$('#label').text("Getting Data");
	$.ajax({
		type: "POST",
		url: "../svm_test/",
		data: { text:  $('textarea#article').val() },
		success: function(data){
			$('#label').html(data)
			console.log(data);
		},
		error: function(data) {
			console.log(data);
		}
		});
}


</script>

<div class="row">
	<div class="small-12 columns">
		{% load humanize %}
		{% load staticfiles %}
		  <div class="row">
			 <div class="large-12 columns">
				 <div id="label1">
					<div id="label" data-alert class="alert-box success radius">
					  <a href="#" class="close">&times;</a>
					</div>
					<div style="text-align:right;">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/768px-Red_X.svg.png" height="25px" width="25px" onclick="$('#article').val('')"></img>
					</div>
				 </div>
				<label>Test Article
				  <textarea id="article" placeholder="Article..." rows="20"></textarea>
				</label>
				<br>
				<a href="#" class="button success" style="text-align:center" onclick="getSVM()">Submit</a>
			 </div>
		  </div>


	</div>
</div>
{% endblock %}
