{%extends 'art/base.html'%}
{% block content %}
<script>
function getSVM(){
	$('#label').text("Getting Data");
	$.ajax({
		type: "POST",
		url: "../svm_add_article/",
		data: { text:  $('textarea#article').val(), cat:  $('#category').val() },
		success: function(data){
			if(data === "success"){
				$('#label').text("Added Article Successfully")
				$('textarea#article').val('')

			}
			console.log(data);
			location.reload()
		},
		error: function(data) {
			console.log(data);
		}
		});
}

function showArticles(category){
//	$('#label').text("Getting Data");
	$.ajax({
		type: "POST",
		url: "../svm_get_article/",
		data: { cat:  category },
		success: function(data){
			var obj = jQuery.parseJSON(data);
			var string = ""
			$.each( obj, function( key, value ) {
					string = string + '<li class="accordion-navigation"><a href="#panel' + key + '">Article #' + (key + 1) + '</a><div id="panel' + key + '" class="content">' + value[0] + '</div></li>'
//					string = string + "Article #" + (key+1) +"<br>" +  value[0] + "<br><br><hr>"

					});
			console.log(string);
			$("#articles").html(string)
			$('#myModal').foundation('reveal', 'open');
			console.log(obj);
		},
		error: function(data) {
			console.log(data);
		}
		});
}
$(document).ready(function(){
    $(document).foundation();
});

</script>

<div class="row">
	<div class="small-9 columns">
		{% load humanize %}
		{% load staticfiles %}
		  <div class="row">
			 <div class="large-12 columns">
				 <div id="label1">
					<div id="label" data-alert class="alert-box success radius">
					  <a href="#" class="close">&times;</a>
					</div>

				 </div>
				<label>Article
				  <textarea id="article" placeholder="Article..." rows="18"></textarea>
				</label>
				<label>Select Category
				  <select id="category">
					 <option value="art">Art</option>
					 <option value="music">Music</option>
					 <option value="movie">Movie</option>
					 <option value="news">News</option>
				  </select>
				</label>
				<br>
				<a href="#" class="button success" style="text-align:center" onclick="getSVM()">Submit</a>
			 </div>
		  </div>


	</div>
	<div class="small-3 columns">
		<h5> Current Number of Articles</h5>
		<a href="#" onclick="showArticles('art')">Art: {{art}}</a>
		<br>
		<a href="#" onclick="showArticles('music')">Music: {{music}}</a>
		<br>
		<a href="#" onclick="showArticles('movie')">Movies: {{movie}}</a>
		<br>
		<a href="#" onclick="showArticles('news')">News: {{news}}</a>
	</div>
</div>


<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle"></h2>
  <p  class="lead">
  <ul id="articles" class="accordion" data-accordion>

  </ul>
  </p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
{% endblock %}
