{%extends 'art/base.html'%}
{% block content %}
<script>
function getList(id){
    $.ajax({
      url: '/art/top/',
      type: 'get', //this is the default though, you don't actually need to always mention it
      data:{
          "id": id,
        },
      success: function(data) {
			console.log(data);
			var json = JSON.parse(data);
			if(json.length ===0){
				return;
			}
			var table = '<table style="width:60%"><tr>'
			for (var key in json[0]) {
			  if (json[0].hasOwnProperty(key)) {
				table = table + "<th>" + key + "</th>";
			  }
			}
			table = table + "</tr>";
			for(var i = 0; i < json.length;i++){
                if(json[i].hasOwnProperty('Artist') ) {
				    table = table + "<tr onclick='displayData(\"" + json[i]['Artist'] + "\")' data-open=\"artistModal\">"
                }else{
                    table = table + "<tr>";
                }
				console.log(json[i]['Score']);
				for (var key in json[i]) {
				  if (json[i].hasOwnProperty(key)) {
                      table = table + "<td>" + json[i][key] + "</td>";
				  }
				}
				table = table + "</tr>"
			}
			table = table + "</table>"
			console.log(table);
			$("#" + id).html(table);
      },
      error: function(data) {
          console.log("error");
      }
    });
}
</script>
<div class="row">
	<div class="small-12 columns">
    <ul class="accordion" data-accordion data-allow-all-closed="true">
        {% for top in tops%}
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title" onclick="getList({{top.id}})"><h4>{{top.name}}...</h4></a>
            <div class="accordion-content" data-tab-content>
              <div class="row">
                <div class="small-12 columns">
					<div id="{{top.id}}"></div>
                    <br>
                </div>
              </div>
            </div>
        </li>
        {%endfor%}
    </ul>
    </div>
</div>
{% endblock %}
