{% extends 'art/base.html'%}
{% block content %}

<div class="row">
	<div class="small-12 columns">
		{% load humanize %}
		{% load staticfiles %}
		{%for link in link_list%}
			<div class="panel callout radius">
				<h5><a href="#" data-reveal-id="artistModal" onclick="displayData('{{link.name}}')">{{link.name}}</a><small class="right">{{link.domain}}</small></h5>
				<a href="{{link.link}}" id="url{{forloop.counter}}" onclick="displayData('{{artist.name}}', {{forloop.counter}})">
					{{link.title}}
				</a>
				<a href="#"><img src="{%static 'art/img/x.png'%}" onclick="restoreLink('{{link.link}}');return false;" style="width:15px;height:15px;"></img></a>
				<p style="text-align: right; color:#999; ">{{link.date|naturaltime|capfirst}}</p>
			</div>

		{%endfor%}
	</div>
</div>



{% endblock %}
