<html>
<head>
<title>Music</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/normalize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js"></script>
<script src="/static/art/js/art.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.4.1/canvas.min.js"></script>

<link href='http://fonts.googleapis.com/css?family=Roboto:300,200' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="row">
	<div class="large-7 columns">
		<h1>MusicTicker <small> Popularity of Musicians		 <div class="row right">
			 <div class="large-12 columns">
					<form method="get" action="{%url 'music:search' %}">
				<div class="row collapse">
				  <div class="small-9 columns">
					 <input type="text" placeholder="Search Artist" name="q" class="right">
				  </div>
				  <div class="small-3 columns">
					  <input type="submit" class="button postfix success" value="Go">
				  </div>
				</div>
			  </form>

			 </div>
		  </div>
		</div>
	</small></h1>

	<div class="large-5 columns">
		<div class="nav-bar right">
			<ul class="button-group">
				<li><a href="{%url 'music:index' %}" class="button success small">Music</a></li>
				<li><a href="{%url 'music:stats' %}" class="button success small">Statistics</a></li>
				<li><a href="{%url 'music:trash' %}" class="button success small">Trash</a></li>
				<li><a href="{%url 'art:index' %}" class="button small">Art</a></li>
				<li><a href="{%url 'music:index' %}" class="button small" style="background:#ffae00">Movies</a></li>
				<!--<li><a href="#" class="button">Link 3</a></li>-->
				<!--<li><a href="#" class="button">Link 4</a></li>-->
			</ul>
		</div>
	</div>
		<hr/>

</div>

{% block content %}

{% endblock %}
<div id="artistModal" class="reveal-modal" data-reveal>
	<h1 id="artistName" style="font-family: 'Roboto', sans-serif; font-weight: bold;"></h1>
	<h2 id="artistScore" style="font-family: 'Roboto', sans-serif;">Score:</h2>
	<h2 id="artistDomain" style="font-family: 'Roboto', sans-serif;">Domains:</h2>
	<h2 id="artistData" style="font-family: 'Roboto', sans-serif;">Data: </h2>
	<p id = "artistLink"style="font-family: 'Roboto', sans-serif;"></p>
	<h2 style="font-family: 'Roboto', sans-serif;">Trash: </h2>
	<p id = "artistTrash"style="font-family: 'Roboto', sans-serif;"></p>
	<a class="close-reveal-modal">&#215;</a>
</div>


<footer class="row">
	<div class="large-12 columns">
		<hr/>
		<div class="row">
			<div class="large-6 columns">
				<p>© Copyright.</p>
			</div>
			<div class="large-6 columns">
				<ul class="inline-list right">
					<li><a href="#">Link 1</a></li>
					<li><a href="#">Link 2</a></li>
					<li><a href="#">Link 3</a></li>
					<li><a href="#">Link 4</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</div>


</body>
</html>

