{%extends 'music/base.html'%}
{% block content %}
<div class="row">
	<div class="small-9 columns">
		{% load humanize %}
		{% load staticfiles %}
		{%for link in link_list%}
		<div class="panel callout radius" style="background:#edfff2; border-color:#b7ffdc">
			<div class="row" style="margin-bottom: 10px;">
				<div class="small-3 columns">
					<span class="right" style="font-size: 80%;">{{link.domain}}</span>
				</div>
			</div>
			<a href="{{link.link}}" target="_blank" id="url{{forloop.counter}}" onclick="displayData('{{artist.name}}', {{forloop.counter}})">
				{% if link.title and link.title %}
					{{link.title}}
				{%else%}
					{{link.link}}
				{%endif%}
			</a>
			<a href="#"><img src="{%static 'art/img/x.png'%}" onclick="removeLink('{{link.link}}');return false;" style="width:15px;height:15px;"></img></a>
			<br>
			<a href="#" id="more{{forloop.counter}}" onclick="showMore('{{link.link}}', {{forloop.counter}});return false" style="color:grey;">More</a>
			<p style="text-align: right; color:#999; ">{{link.date|naturaltime|capfirst}}</p>
		</div>
		{%endfor%}
	</div>
</div>
{% endblock %}
