{% extends 'music/base.html'%}
{% block content %}

<div class="row">
	<div class="small-9 columns">
		{% load humanize %}
		{%for link in link_list%}
			<div class="panel callout radius">
				<h5><a href="#" data-reveal-id="artistModal" onclick="displayData('{{link.name}}')">{{link.name}}</a></h5>
				<p style="text-align: right; color:#999; ">Last seen: {{link.date|naturalday|capfirst}}</p>
			</div>

		{%endfor%}
	</div>
</div>



{% endblock %}
