{%extends 'music/base.html'%}
{% block content %}
<script type="text/javascript">
	window.onload = function () {
		var chart = new CanvasJS.Chart("chartContainer",
		{
			zoomEnabled: true,
			animationEnabled: true,
			title:{
text: "Artist Rankings - {{artist_total.0.total}} Artists",
				fontFamily: "arial black",
				fontColor: "DarkSlateGrey"
			},
			axisX: {
				title:"Artfacts Ranking",
				titleFontFamily: "arial"

			},
			axisY:{
				title: "Score",
				titleFontFamily: "arial",
				interlacedColor: "#F0FFFF",
				//titleFontSize: 12
			},

			data: [
			{
				type: "scatter",
				toolTipContent: "<span style='\"'color: {color};'\"'><strong>{name}</strong></span> <br/> <strong>Score</strong> {y}<br/> <strong>Rank</strong> {x} ",
				dataPoints: [
				{%for artist in artist_rankings%}
					{ x: {{artist.artfacts_rank}}, y: {{artist.score}},name:"{{artist.name}}" },
				{%endfor%}
				]
			}
			]
		});
		chart.render();
		var chart2 = new CanvasJS.Chart("chartContainer2",
		{
			zoomEnabled: true,
			animationEnabled: true,
			title:{
				text: "Musician Distribution",
				fontFamily: "arial black",
				fontColor: "DarkSlateGrey"
			},
			axisX: {
				title:"Gramusik Ranking",
				titleFontFamily: "arial"

			},
			axisY:{
				title: "Number of Musicians",
				titleFontFamily: "arial",
				interlacedColor: "#F0FFFF",
				interval:10
				//titleFontSize: 12
			},

			data: [
			{
				type: "area",
				toolTipContent: "<span style='\"'color: {color};'\"'><strong>Count:</strong> {y}<br/> <strong>Rank</strong> {x} ",
				dataPoints: [
				{%for rank in artist_rankings2%}
					{ x: {{rank.artfacts_rank}}, y: {{rank.total}} },
				{%endfor%}
				]
			}
			]
		});
		chart2.render();
		var chart3 = new CanvasJS.Chart("chartContainer3",
		{
			zoomEnabled: true,
			animationEnabled: true,
			title:{
				text: "Live Feed Updates - {{feed_total.0.total}} Articles",
				fontFamily: "arial black",
				fontColor: "DarkSlateGrey"
			},
			axisX: {
				title:"Date",
				titleFontFamily: "arial",
				valueFormatString: "DD/MMM"

			},
			axisY:{
				title: "Number of Artists",
				titleFontFamily: "arial",
				interlacedColor: "#F0FFFF",
				//titleFontSize: 12
			},

			data: [
			{
				type: "scatter",
						toolTipContent: "<span style='\"'color: {color};'\"'><strong> Domain:</strong>{z}<br/> <strong>Count:</strong> {y}<br/> <strong>Date</strong> {x} ",
				dataPoints: [
				{%for feed in live_feed%}
						{ x: new Date({{feed.date|date:"Y"}},{{feed.date|date:"n"}}-1, {{feed.date|date:"d"}}), y: {{feed.total}}, z:"{{feed.domain}}"},
				{%endfor%}
				]
			}
			]
		});
		chart3.render();
		var chart4 = new CanvasJS.Chart("chartContainer4",
		{
			zoomEnabled: true,
			animationEnabled: true,
			title:{
				text: "Live Feed Updates - Daily Musicians",
				fontFamily: "arial black",
				fontColor: "DarkSlateGrey"
			},
			axisX: {
				title:"Date",
				titleFontFamily: "arial",
				valueFormatString: "DD/MMM"

			},
			axisY:{
				title: "Number of Musicians",
				titleFontFamily: "arial",
				interlacedColor: "#F0FFFF",
				//titleFontSize: 12
			},

			data: [
			{
				type: "line",
						toolTipContent: "<span style='\"'color: {color};'\"'><strong> Date:</strong>{x}<br/> <strong>Number of Musicians:</strong> {y}<br/>",
				dataPoints: [
				{%for feed in artists_per_day%}
						{ x: new Date({{feed.date|date:"Y"}},{{feed.date|date:"n"}}-1, {{feed.date|date:"d"}}), y: {{feed.total}}},
				{%endfor%}
				]
			}
			]
		});
		chart4.render();
		var chart5 = new CanvasJS.Chart("chartContainer5",
		{
			zoomEnabled: true,
			animationEnabled: true,
			title:{
				text: "Live Feed Updates - Daily Articles",
				fontFamily: "arial black",
				fontColor: "DarkSlateGrey"
			},
			axisX: {
				title:"Date",
				titleFontFamily: "arial",
				valueFormatString: "DD/MMM"

			},
			axisY:{
				title: "Number of Articles",
				titleFontFamily: "arial",
				interlacedColor: "#F0FFFF",
				//titleFontSize: 12
			},

			data: [
			{
				type: "line",
						toolTipContent: "<span style='\"'color: {color};'\"'><strong> Date:</strong>{x}<br/> <strong>Number of Articles:</strong> {y}<br/>",
				dataPoints: [
				{%for feed in articles_per_day%}
						{ x: new Date({{feed.date|date:"Y"}},{{feed.date|date:"n"}}-1, {{feed.date|date:"d"}}), y: {{feed.total}}},
				{%endfor%}
				]
			}
			]
		});
		chart5.render();
		var chart6 = new CanvasJS.Chart("chartContainer6",
		{
			zoomEnabled: true,
			animationEnabled: true,
			title:{
				text: "Domain Percentage",
				fontFamily: "arial black",
				fontColor: "DarkSlateGrey"
			},
			data: [
						{
							type: "doughnut",
							indexLabelFontFamily: "Garamond",
							indexLabelFontSize: 20,
							startAngle:0,
							indexLabelFontColor: "dimgrey",
							indexLabelLineColor: "darkgrey",
							toolTipContent: "{y} %",

							dataPoints: [
							{%for feed in article_percentage%}
								{  y: {{feed.percent}}, label: "{{feed.domain}} {y}%" },
							{%endfor%}

							]
						}
						]
		});
		chart6.render();

	}
</script>
<div class="row">
	<div class="small-12 columns">
		<div id="chartContainer3" style="height:300px;"></div>
		<div id="chartContainer" style="height:300px;"></div>
		<div id="chartContainer4" style="height:300px;"></div>
		<div id="chartContainer5" style="height:300px;"></div>
		<div id="chartContainer6" style="height:300px;"></div>
		<div id="chartContainer2" style="height:300px;"></div>
	</div>
</div>
{% endblock %}
